[2019-09-20 17:03] effigies commented on #812
@hbraunDSP That seems reasonable to me. Anybody with more DICOM expertise is welcome to chime in, though.

[2019-09-23 14:55] reddigari opened #817 "BUG: CSA reader"
https://github.com/nipy/nibabel/blob/b46efa35fe6170168db6bd5b1f6607a07389e69c/nibabel/nicom/csareader.py#L121-L132

I think the definition of  `tag0_n_items` might be a incorrect. [The docs](https://nipy.org/nibabel/dicom/siemens_csa.html) (that describe the SPM implementation) say to use the `n_items` of the **first** tag, which here corresponds to the condition `tag_no == 0`, not 1. (Feels like

[2019-09-24 22:22] hbraunDSP commented on #812
I just submitted a PR. I haven't looked into making tests yet, but that should be happening soon.

[2019-09-26 07:18] leonardo-oz opened #819 "How to use RobustFOV function in nipype.interfaces.fsl"
HI, All. I am trying to remove neck from an MRI sample image using nipype.interfaces.fsl.

The function I used is as following:

[code]
I could not find a way to save the neck removed image or make a reference to it. Can someone shed a light on this?

Thanks.

[2019-09-26 07:51] matthew-brett commented on #819
I think you might want the Nipype project issues - but I bet they will recommend you try over at https://neurostars.org/

[2019-09-26 08:09] leonardo-oz commented on #819
@matthew-brett , thanks.

[2019-09-26 08:09] #819 closed

[2019-09-26 22:44] ashgillman commented on #803
Sorry for the slow feedback. NixOS tends to move pretty fast, and locks with releases, so as long at the latest version is supported at any given time, no worries.

[2019-09-27 12:16] anm-ranjan commented on #813
The INR file from MEDINRIA basically maps the coefficient of the diffusion tensor to the voxel co-ordinates of streamlines. If one is aware of the streamline_mapping from dipy.tracking.vox2track module one would need something like the following :

[code]

where T could be the (9,) vector or (6,) vector containing the diffusion coefficients at the given voxel. I am just not sure how to extract thi

[2019-09-27 15:14] #802 closed

[2019-09-27 16:00] crocodoyle commented on #712
I'm pretty sure that there are multiple conventions used by minc files and that's the source of a lot of the confusion. I tried to dig into this a while ago, and it is possible to have a variable step size per dimension (not just time), and spatial dimensions (1mm per voxel, say), sometimes have a giant array of [1, 1, 1, 1, 1, 1, ..., 1]. Sometimes they just have a single value (1). I think many

[2019-09-27 16:06] effigies commented on #712
Does the standard specify an order of precedence? If so, we can work with that. It's not an easy thing to read through. A battery of example files and the correct interpretation of them would go a long way.

[2019-09-28 02:36] leonardo-oz opened #820 "How to save each nifti slice into png or jpg in nipype"
Hi, All:

Does nipype provide any function for saving nifti slice into png as pixel in each slice are well above 255, directly dump 2D numpy array can cause most value as either 0, or 255 not gray scale image.  Code snippet is below:

[code]
![0](https://user-images.githubusercontent.com/55828143/65810328-8e73dc80-e1ec-11e9-86a7-2167dd4ed106.png)

[2019-09-28 14:51] effigies commented on #820
This isn't really a nipype question, so I moved it to nibabel.

Your strategy is reasonable, but in cases where the image minimum is non-zero, you might get unexpected behavior. If the goal is to rescale into unsigned bytes, you could use a full rescaling:

[code]

We probably have a function lying around that we use when rescaling data blocks, but you don't really need it here.

[2019-09-29 05:32] leonardo-oz commented on #820
@effigies , thanks.

[2019-09-29 05:32] #820 closed

[2019-10-06 19:07] effigies commented on #671
Dropping this from the todo for now. There are a lot of tests that specifically depend on the mutability of the affine. Taking this as indicative of intended usage, my motivation is drastically reduced to change this API at this time. We can revisit if this continues to cost more in confusion than we gain in usability.

[2019-10-10 03:34] leonardo-oz opened #824 "How to save processed slices into a new nifti file"
Hi, All

Given an input nifti image, in.nii.gz, if I intend to crop it from 1/5 slices along z dimension and save the cropped image into a new nifti file with same header except dimensions, how can I do it.
I only figure out how to crop but am not sure about updating the header and save it. Can someone shed a light on this? Thanks.

[code]

[2019-10-10 13:05] effigies commented on #824
To be clear, you just want to crop the first 20% of slices and save the remainder as a new file?

The easiest way to ensure that the metadata is correct is to use the [`slicer`](https://nipy.org/nibabel/reference/nibabel.spatialimages.html#nibabel.spatialimages.SpatialImage.slicer) property:

[code]

In general, any slices you might want to perform on the data array, you can perform with `img.slic

[2019-10-10 20:28] leonardo-oz commented on #824
Thanks. @effigies

[2019-10-10 20:38] leonardo-oz commented on #824
@effigies , Thanks. That's exactly what I am concerned after cropping off 20% of the slices and how the meta data should be updated.

The other question about slicing is that how can I retrieve the image physical size, like from fsleyes , I can retrieve Size X=179 mm Y=256 mm Z=157 mm?

The last question is  how can I crop the image from specified Z such as 30mm upwards using the information above

[2019-10-10 20:53] effigies commented on #824
Getting the size (or field of view) is relatively easy:

[code]

If you want to slice off the first 30mm off the z direction:

[code]

Note that this will slice off less than 30mm if your zooms don't divide neatly into 30.

Also you should probably also be checking `img.header.get_xyzt_units()` to make sure that your voxel sizes are in `mm`, not `um` or `m`.

[2019-10-10 21:01] leonardo-oz commented on #824
@effigies , all clear now. Thanks.

[2019-10-10 21:01] #824 closed

[2019-10-14 04:13] leonardo-oz opened #825 "Difference in saving nifti files in nibabel"
Dear Nibabel Experts:

I am following nipype tutorial to save files. One approach is to use nib.save(). The other is to use image.to_filename().  But files saved from two methods seems quite different with fsleyes. The latter one is consistent with input file, while the formal is not. Please check the picture below. I was expecting both a and b should perfectly match. I intend to use the formal on

[2019-10-14 05:49] leonardo-oz commented on #825
After trial and error, set affine as None as below then it works. But I am still not sure why it works after set affine to None here?

[code]

[2019-10-14 08:09] pauldmccarthy commented on #825
The `get_base_affine` method is not what you want - you should use either `image.affine`, or `header.get_best_affine`.

`get_base_affine` returns a 'fall-back' affine, which is only used if the `sform` and `qform` affines are unknown:

https://nipy.org/nibabel/nifti_images.html#the-fall-back-header-affine

[2019-10-14 11:06] leonardo-oz commented on #825
@pauldmccarthy , Thanks for your explanation.

[2019-10-14 11:06] #825 closed

[2019-10-23 05:31] TheChymera commented on #803
No issues on Gentoo, the distribution is rolling release, so it should always pull in the newest versions of dependencies unless otherwise specified. Our packages check the test suites, so even if numpy/python get a newer version which breaks backwards compatibility, we'll be noticing it before it gets rolled out (and probably letting you know as well).

[2019-10-23 13:20] effigies opened #828 "Python 3.8 support"
This issue is to track full support and testing on Python 3.8.

* [x] Minimum requirements on Travis
* [x] Full dependencies on Travis
  * [x] Scipy: scipy/scipy#10927, scipy/scipy#10930
  * [x] matplotlib
  * [x] h5py: https://github.com/h5py/h5py/issues/1410
  * [x] pillow
  * [x] pydicom
  * [x] indexed_gzip
* [x] Azure pipelines: microsoft/azure-pipelines-image-generation#1317

I'm not making

[2019-11-03 13:04] effigies commented on #801
Hi @pocolya, sorry for the delay. Did you resolve your issue?

I don't think there's enough information here to understand what Dcm2niix and ITKSnap are each doing. It might be worth getting some diagnostic information for each:

* Shape: `img.shape`
* Affine: `img.affine`
* Zooms: `img.header.get_zooms()`
* Orientation: `nib.affines.aff2axcodes(img.affine)`

And just in greater detail:

[code]

O

[2019-11-06 10:51] oscarbates opened #831 "Memory leak when saving nifti"
I have 500 CT scans which I load as 2D DICOM slices, process and save as a 3D NIFTI volume.

The NIFTI image is created using
`affine = np.eye(4)`
`farray_img = nib.Nifti1Image(np_volume.astype(np.float64), affine)`

and saved
`nib.save(farray_img, filepath)`

When a file exists for the filepath, the disk memory is overwritten.

When the file does not already exist, this function appears to store

[2019-11-07 19:56] effigies opened #832 "ArrayProxy always casts image data to float64"
Consider a BOLD series (obtainable with git-annex [here](https://github.com/neuroscout-datasets/LearningTemporalStructure/blob/master/fmriprep/sub-01/func/sub-01_task-movie_run-01_space-MNI152NLin2009cAsym_desc-preproc_bold.nii.gz)) saved in a NIfTI-1 with dtype `int16`, `scl_slope == 0.061591435` and `scl_inter == 1839.8748`. Both `scl_slope` and `scl_inter` are `np.float32`:

https://github.com/

[2019-11-07 23:53] matthew-brett commented on #832
Yes, I noticed this a while ago.  I didn't mean for that to happen, but when I noticed, I didn't do anything about it because I was worried that this might cause subtle changes in the analysis results.  What do you think?

[2019-11-08 02:26] effigies commented on #832
Just to get a sense of the potential error, and taking the current slope/inter as representative:

[code]

I'm not entirely sure how to think about these differences. They're very small relative to the intercept (~1e-7), and are themselves flips of the 12th or 13th bit. But if you believe in those bits (or need bit-for-bit reproducibility but don't want to pin your libraries), you might not want t

[2019-11-08 10:17] matthew-brett commented on #832
The differences will definitely be small numerically, but of course these can have larger effects when run through an analysis pipeline.

I like your idea, generally.  I'm sure you meant this, but the default for `get_fdata` should still be float64.

[2019-11-08 11:59] effigies commented on #832
Okay, I'll work up a first draft today or Sunday. Since it's an API change, it'd be good to make time to get it in before 3.0.

[2019-11-08 16:17] effigies opened #834 "RFC: get_data deprecation"
I've noticed that nilearn and nistats are working around the deprecation of `img.get_data()` with a public `get_data()` function.

* https://github.com/nilearn/nilearn/pull/2172
* https://github.com/nistats/nistats/pull/403

It would be nice to hear what the specific use cases are that make this preferable to moving to `get_fdata()` or `np.asarray(img.dataobj)`. Is it just that the latter is a pai

[2019-11-10 23:15] GaelVaroquaux commented on #834
Indeed, nibabel's API is a moving target, and it's frequent modifications
break users' script and documentation available across internet.

Number one problem is moving target. We are unfortunately progressively
abstracting out nibabel's API because changes of behavior are difficult
to follow. In particular, they end up corrupting example scripts with
switches to select functions depending on the

[2019-11-11 09:39] matthew-brett commented on #834
Gael - I know if `get_data`, `get_fdata` in terms of API change.  Were you thinking of something else?

Indeed, we do try very hard not to deprecate.  You probably remember the discussions from 2015 to mid 2017 where we hashed this through.  At the time the idea was to:

* deprecate "get_data" method in one year;
* raise error for "get_data" method in three years.

[2019-11-11 09:55] jeromedockes commented on #834
I think that even more compelling is the case of atlases or masks, where
we want the data to retain its integer type.

Another change is getting a copy rather than a reference to the image's
cache, although we should always create a new image rather than modify
this data array in-place.

[2019-11-11 10:04] matthew-brett commented on #834
Yes, there will surely be times when you want to control the output dtype for memory purposes, or because you really want integers.     We can go back through it, if it's helpful, but the discussion up til 2017 was about whether output data type should depend on the presence of scaling in the header, which is often arbitrary; most image libraries don't intend for scaling to be interpreted that way

[2019-11-11 10:28] jeromedockes commented on #834
I think that solution 2) would have been best, but now that we have
added `get_data` we may hold on to it, because for example it works on
filenames or lists of filenames or glob patterns.

I cannot speak for others, but for my part I simply missed this
discussion. I was less involved in nilearn at the time, and I must admit
I do not often read the nibabel documentation as I almost exclusively
int

[2019-11-11 10:31] jeromedockes commented on #834
sorry, scratch that part then

[2019-11-11 10:38] matthew-brett commented on #834
Unfortunately, as I'm sure you know, the low-level details often mean that the option that seems easiest for the higher-level libraries is a bad option for the long term - and I think `get_data` is one such instance.   For the reasons, I can point you to the discussion, if you're interested.

I personally think that undeprecating `get_data` would be a terrible idea, especially at this stage.   It'

[2019-11-11 10:56] jeromedockes commented on #834
although that point remains for the `np.asarray(img.dataobj, dtype=...)`

[2019-11-11 11:08] matthew-brett commented on #834
Having said that, I could imagine adding `get_data` back with a more scary name, like `get_data_hdr_scaling` or something.

[2019-11-11 11:12] jeromedockes commented on #834
I saw this explanation: https://github.com/nipy/nibabel/wiki/BIAP8 , if
this not what you mean I am interested. I understand the motivation for
preferring get_fdata, and I guess we should add a dtype argument to
nilearn.image.get_data for the same reasons. Still, we will retain the
possibility to avoid casting to float for atlases, masks and ROIs.

Nilearn and Nistats do not rely on get_data anymo

[2019-11-11 11:14] jeromedockes commented on #834
note that we can use img.get_fdata(dtype='float32')

[2019-11-11 11:20] matthew-brett commented on #834
The BIAP is the main source, but there's a lot of discussion on the linked mailing list thread, and a little more at https://mail.python.org/pipermail/neuroimaging/2017-April/001383.html

[2019-11-11 14:41] GaelVaroquaux commented on #834
I think that you are correct in the sense that the moving target that has
been bothering me over the years is how to retrieve the array data of a
NiftiImage. However, for our uses this is the main API of nibabel that we
use.

My memory is very blurry, as this problem has not been my main focus over
the year. However, if I remember right, we started by img.data being the
recommended way of accessin

[2019-11-11 15:08] matthew-brett commented on #834
Yes, that would be rather moving-targetey - but I don't think that's right - it was always `.get_data()` - see [relevant line from first release in 2010](https://github.com/nipy/nibabel/blob/0.9.0/nibabel/spatialimages.py#L62).  There was a private attribute `_data`, that was obviously not recommended, and later we added the `dataobj` attribute as a lower-level public API, for them as wanted effic

[2019-11-11 17:34] chrisgorgo commented on #76
Getting the same thing on WSL (with current master):
[code]

[2019-11-11 17:38] effigies commented on #76
@chrisgorgo Can you open a new issue referencing this?

[2019-11-11 17:44] chrisgorgo opened #836 "AssertionError on WSL1"
Getting the same thing on WSL (with current master):
[code]

_Originally posted by @chrisgorgo in https://github.com/nipy/nibabel/issues/76#issuecomment-552539668_

[2019-11-11 17:44] chrisgorgo commented on #836
TODO - test on WSL2

[2019-11-13 01:45] rmarkello opened #841 "Replace @kw_only_meth/func decorator with "*" argument"
Python 3 supports the use of `*` in function signatures to denote that subsequent arguments must be supplied as keywords. Historically, `nibabel` has used `nibabel.keyword_only.kw_only_{meth,func}` to do this, instead. Since `nibabel` is no longer supporting Python 2 it might be nice to remove these and just use the '*' syntax! I'd be happy to make a PR for this, if you think it would be desirable

[2019-11-13 01:51] effigies commented on #841
Yup, this would be great.

[2019-11-14 14:35] pocolya commented on #801
Hi @effigies,

Thank you for your reply, I still don't have a "solution", even though I have a confirmation and an explication from the [currect discussion](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/itksnap-users/6hhoJrpPYM8/27ZP8zf0BgAJ) that ITKsnap alters the image. So, intuitevily, I've doing the same : just copying the original transform on the segmentation.

Be

[2019-11-14 14:51] effigies commented on #801
Ah, yes. Thanks for linking that discussion. ITK notoriously refuses to respect the sform matrix, relying entirely on the qform. If you're extremely confident that the data are in register, and only the affines differ, it is reasonable to copy the header from one to the other:

[code]

For more information on the xform codes, refer to [nifti1.h](https://github.com/NIFTI-Imaging/nifti_clib/blob/965

[2019-11-16 19:04] effigies commented on #834
Hi Gael, Jerome, thanks for responding. I really appreciate it.

I appreciate that such a major deprecation is painful, and we do (and will) work hard to avoid this as much as possible. I'm not convinced that there's a compelling case to undeprecate `get_data()`, and will proceed for now with the deprecation as planned. Given that you've already separated out `get_data()`, reverting that seems gra

[2019-11-17 01:09] GaelVaroquaux commented on #834
You must be right. I am sorry that I was confused. We were probably using
the wrong API in the beginning.

[2019-11-18 16:46] #832 closed

[2019-11-18 21:30] rmarkello opened #842 "parrec/minc1 don't subclass ArrayProxy"
While looking at #833 I noticed that neither `PARRECArrayProxy` nor `MincImageArrayProxy` subclass `ArrayProxy` despite there being considerable overlap in their functionality and structure. It seems like it would be reasonable to modify both classes such that they directly inherit from `ArrayProxy` to reduce duplication of some methods / doc-strings and make them a bit easier to keep in-line with

[2019-11-18 22:06] effigies opened #843 "ArrayProxy.__array__ should support dtype argument"
To fully implement the array-like interface, `ArrayProxy.__array__` should accept the `dtype` argument. Currently neither of the following works:

[code]

[code]

Not sure whether fixing this is more of a bug fix or a new feature. I lean toward this being a bug... What do others think?

[2019-11-18 22:35] matthew-brett commented on #843
Yes, maybe a bug ...

[2019-11-18 22:39] matthew-brett commented on #842
I seem to remember I made a deliberate decision not to sub-class.  The array proxy was always meant to be an API, so it made sense for different classes to implement the API.  On the other hand it's perfectly possible that led to some code-duplication.  If there is some, that would be cleaned up by a PR, it would be worth giving a shot.  Maybe just do the basic stuff to see what it looks like?

[2019-11-18 23:57] effigies commented on #842
There are optional parts of the API, so perhaps it would make more sense to abstract out the mandatory parts into a(n abstract?) base class?

Some scale and some don't, so that might be a sensible branch in the hierarchy.

I suspect a large part of the duplication was added in #833, so this may only just now be starting to be worth it.

[2019-11-19 14:03] effigies commented on #433
Hi all, is this still a problem for anybody? Using the latest OSX, I was able to run `img.orthoview()` and move around quite easily.

[2019-11-20 22:23] #789 closed

[2019-11-21 14:09] effigies commented on #780
* .4dfp.hdr is a modified ANALYZE 7.5 header, defined in [NILSRC/TRX/ANALYZE.h](https://github.com/DosenbachGreene/4dfp_tools/blob/046552a641f4535924139de33a6def2cfb377831/NILSRC/TRX/ANALYZE.h)
* .4dfp.ifh is an Interfile ([spec (docx)](https://www.researchgate.net/publication/21707960_A_file_format_for_the_exchange_of_nuclear_medicine_image_data_A_specification_of_interfile_version_33)) header, d

[2019-11-21 15:53] effigies commented on #780
Existing Python implementations of IFH parsing:

* https://github.com/karchie/py4dfp/blob/master/py4dfp/ifh.py
* https://github.com/spedemon/interfile

[2019-12-06 16:27] effigies opened #849 "3.0 todos"
A place to note things while looking through the code that need to be done before the 3.0 release.

* [x] Error on `keep_file_open == 'auto'`
https://github.com/nipy/nibabel/blob/fcc54489d04ba218f10ba98140f1596c0ad47553/nibabel/arrayproxy.py#L58-L62

* [x] Remove `minc.py`:
https://github.com/nipy/nibabel/blob/fcc54489d04ba218f10ba98140f1596c0ad47553/nibabel/minc.py#L5-L8

[2019-12-06 17:34] rmarkello commented on #849
Here's a few more:

- [ ] Remove `checkwarns.py`:

https://github.com/nipy/nibabel/blob/fcc54489d04ba218f10ba98140f1596c0ad47553/nibabel/checkwarns.py#L18-L19

- [ ] Remove `testing.catch_warn_reset()`:

https://github.com/nipy/nibabel/blob/fcc54489d04ba218f10ba98140f1596c0ad47553/nibabel/testing/__init__.py#L207-L211

- [ ] Remove `MincFile` and `MincImage`:

https://github.com/nipy/nibabel/blob/

[2019-12-11 00:55] kaczmarj opened #851 "ENH: implement `mri_convert --conform` functionality"
hi nibabel devs, i would like to replicate freesurfer's `mri_convert --conform` functionality, as described in https://github.com/neuronets/kwyk/issues/5. I have the code for it below. It does the following:

- Resize to (256mm)^3 bounding box
- resample to (1mm)^3 voxels
- rescale to 0-255
- reorients to RAS

`mri_convert --conform` reorients to LIA but RAS is cooler imho.

i made this an issue i

[2019-12-11 02:44] effigies commented on #851
It would make sense for the function to go in nibabel.processing, but a command-line interface also seems useful.

[2019-12-11 13:16] #843 closed

[2019-12-11 13:44] effigies commented on #849
`@deprecate_with_version` will handle raising an error and give a better error message. I figure the objects themselves can be removed in 3.1.

[2019-12-12 12:48] pauldmccarthy commented on #834
I don't have any real opinions on the deprecation/removal, but I am interested in what you all think should be "best practice" for loading an image from disk, modifying it, and saving it back to disk.

I've always relied on the internal cache managed by `DataobjImage` objects returned by `get_data`. I've happily written code in the knowledge that both myself and `nibabel` have access to a single `

[2019-12-12 13:46] jeromedockes commented on #834
I think that this is what I would do

[2019-12-12 17:04] effigies commented on #834
If you always want unscaled data, then you should use `img.dataobj.get_unscaled()`, not `np.array(img.dataobj)` or `img.get_data()`, which will apply scale factors if present in the image.

You might want to wrap this with something like:

[code]

But otherwise, your sequence is what I do. I'm actually somewhat surprised that modifying the cached result of `get_data()` and then calling `to_filenam

[2019-12-15 06:30] pauldmccarthy commented on #834
Cool, thanks for the clafiication. It looks like my previous approach (modifying the cached array from `get_data`) was fine with `nibabel < 3`, as `to_file_map` was using `get_data`:

https://github.com/nipy/nibabel/commit/c8d93e6067ec793c294d46fb1d4aee805b188a59

But it looks like I've been wrong about the scaling, although I don't often come across images with slope/inter parameters that aren't

[2019-12-18 17:46] effigies opened #854 "ExpiredDeprecationError being hit"
A bunch of `DeprecationWarning`s got promoted to `ExpiredDeprecationError` post-release, so we should update the tests.

Would be good to expect the exception in 3.0.x and remove the deprecated code in `master`.

[2019-12-19 02:15] hubutui opened #855 "test_pkg_info fail"
I'm trying to compile the latest release, and here is the fail test log:
[code]
The complete log: [nibabel-build-log.txt](https://github.com/nipy/nibabel/files/3981431/nibabel-build-log.txt)

[2019-12-19 04:28] yarikoptic commented on #855
Hypothesising based on the content here alone, so pardon me if I am wrong: Well I could disable/patch that test away, but  if I get it right, probably test should detect if it is running in the already git exported source - there some .gitattributes (or whatever)  exported variable : https://github.com/nipy/nibabel/blob/master/.gitattributes . Then test should just skip and not test possible packa

[2019-12-19 04:56] effigies commented on #855
Right, we should definitely fix it to work correctly by the next release, and would definitely appreciate your eyes on any proposed fix... I'm just wondering if any packagers can't work around for this release, forcing a quick fix.

[2019-12-19 12:22] hubutui commented on #855
@effigies I can completely skip the check/test. Could we disable particular tests by specify `pytest`'s args or options?

[2019-12-19 13:28] effigies commented on #855
We use `nosetests`, not `pytest` yet.

To skip this test, just add `-e test_fallback_version`.

[2019-12-19 13:53] #841 closed

[2019-12-19 14:08] hubutui commented on #855
@effigies Oh, it's a typo. I mean `notests`. And I could build nibabel for [Arch Linux CN Repository](https://github.com/archlinuxcn/repo) now, and skip the `test_fallback_version`.

[2019-12-19 14:17] effigies commented on #855
Great! Thanks for accommodating this hiccup. I'll keep this issue open until the actual test is fixed...

[2019-12-19 15:41] #849 closed

[2019-12-31 17:26] #828 closed

[2020-01-08 17:34] matthew-brett opened #859 "pip editable install for user broken since adding pyproject.toml"
Before commit c0321382, that added `pyproject.toml`, I could do this:

[code]

After that commit, I get:

[code]

I'm not quite sure why.  Any ideas?

[2020-01-08 18:14] effigies commented on #859
Ugh. Looks like this is a known issue: https://github.com/pypa/pip/issues/6375

The solution seems to be `--no-use-pep517`, added in https://github.com/pypa/pip/pull/6370.

I'm looking into whether `pyproject.toml` can be fixed to allow pip to handle this case without a special flag.

[2020-01-08 18:25] effigies commented on #859
Might just drop `pyproject.toml`. I was hoping that it would avoid issues with an old `setuptools`, but it seems like a rat's nest.

[2020-01-08 20:17] effigies commented on #859
To dig into it a bit more, I think I (sort of) understand what's going on.

| | ~~`--editable`~~ | `--editable` |
|--|--|--|
| ~~`--user`~~ | build wheel, install in environment | Call `setup.py develop` |
| `--user` | build wheel, install in user directory | XXXX |

* `pyproject.toml` enables build isolation, which we were using to ensure that a recent setuptools got used without depending on use

[2020-01-11 02:50] bcdarwin opened #861 "Test failure on Arm64"
Unfortunately I can't debug since I don't have such a machine set up; the tests were run by Hydra, the CI server for Nix/Nixpkgs for [this PR](https://github.com/NixOS/nixpkgs/pull/77472).

Release 3.0.0.

[code]

[2020-01-11 03:42] effigies commented on #861
This code is quite old and stable at this point, so my first inclination would be to look to see what's new in the environment.

Has Nix been packaging for Arm64 for a few versions, or is it just starting? It would be good to know if we're seeing this because now we're looking for it, or if something else has changed.

Assuming these tests aren't new, could we verify that this replicates with olde

[2020-01-11 04:12] bcdarwin commented on #861
I can look into this tomorrow, but my first suspicion is that it's somehow related to long floats just as #860 was.

[2020-01-11 10:33] matthew-brett commented on #861
It might well be something funny with long doubles.   Can you put a guard in to print out what `dt` is, when the test errors?

[2020-01-12 00:20] bcdarwin commented on #861
From examining [the Hydra builds](https://hydra.nixos.org/job/nixpkgs/trunk/python37Packages.nibabel.aarch64-linux/all), the Arm64 build has been broken since January 2019, when we were building 2.3.1.  It looks like this same test began failing with the upgrade to 2.3.3.

[2020-01-12 00:36] bcdarwin commented on #861
@matthew-brett -- unfortunately I think debugging packages in this way is out of the scope of the Nixpkgs CI.  If I have time I'll see about testing this on an Arm device.

[2020-01-12 00:49] effigies commented on #861
I think Travis now has ARM64 builds. We should see about enabling one.

[2020-01-12 00:54] matthew-brett commented on #861
An ARM64 build is an excellent idea.

[2020-01-13 12:56] andrewtmorgan opened #863 "Orientation issues when going from nibabel to itk"
I am trying to create a tool that has EPI outlines like the nibabel example (https://nipy.org/nibabel/coordinate_systems.html#the-affine-as-a-series-of-transformations), but with the ability to move the outlines by hand. The best tool I know for manual movements of scans is ITK-SNAP, so I have been trying to import "outline" EPI scans from nibabel. This is not working properly (EPI images appear m

[2020-01-13 16:37] matthew-brett commented on #863
Sorry - I think you have set the qform correctly, and the sform.  I suppose you could try setting the sform code with:

[code]

but it's difficult to imagine that would help.   Have you tried asking over in ITK-land?

[2020-01-13 16:41] andrewtmorgan commented on #863
I tried setting the sform as well, but to no avail.

Next I will see if anyone working on ITK spots something incompatible with the header.

Thanks!

[2020-01-15 15:42] #855 closed

[2020-01-25 17:52] effigies opened #864 "Sprint: Pytest conversion"
## Tasks

* Doctest modules
  * [x] Enable --doctest-modules in pytest
    * @effigies
* Failing modules
  * [x] [nibabel.streamlines.tests.test_array_sequence](https://github.com/nipy/nibabel/blob/pytest/nibabel/streamlines/tests/test_array_sequence.py)
    * @robbisg: #870
  * [x] [nibabel.streamlines.tests.test_tck](https://github.com/nipy/nibabel/blob/pytest/nibabel/streamlines/tests/test_tck.

[2020-01-25 19:44] djarecka commented on #864
I can work on this one of the day of the week Feb 3rd-7th, preferably Mon-Wed. I believe I converted all tests from `nibabel/tests`, now we have to check each subdirectory of the `nibabel` and change the tests inside

[2020-01-25 21:46] anibalsolon commented on #864
@effigies thank you for organizing this!

Tuesdays and Thursdays work for me in general. The chat room idea is nice for quick checks, but the issue/PRs process might be useful to keep tracking.

[2020-01-25 21:57] robbisg commented on #864
In general I'm quite available during the week!!

[2020-01-26 16:35] effigies commented on #864
So would Tuesday, February 4 work for all three of you? Is there anybody that it wouldn't work for?

Also, does anybody have a Windows machine for debugging any issues there?

[2020-01-26 16:36] effigies commented on #854
Finished in 3.0.1, need to follow-up in 3.1.0.

[2020-01-26 17:38] orduek commented on #864
Tuesday would work for me, part from two hours (10am-12am EST).
No windows machine here...

On Sun, Jan 26, 2020 at 11:35 AM Chris Markiewicz <notifications@github.com>
wrote:

--

Or A. Duek, PhD

Postdoctoral Associate

Harpaz-Rotem Stress and PTSD Lab

Yale University School of Medicine, Dept of Psychiatry

https://medicine.yale.edu/lab/harpazrotem/

https://www.ptsdstresslab.org/

+1 (203) 305

[2020-01-26 17:44] anibalsolon commented on #864
Works for me, apart from the same two hours (unrelated tho)

I have a Windows at home, will setup the proper environment to test it.

[2020-01-26 17:51] robbisg commented on #864
Works for me!! I am on Linux and avaliable considering GMT+2 ;)

[2020-01-26 17:53] effigies commented on #864
Okay. I'll be around 9am-5pm EST (UTC-5), except a couple of calls from 12:45pm-2pm EST. I'll see if I can push them around, but we should have plenty of synchronous time, even if I can't.

How would we like to do live chatting? I've gone ahead and set up a [Riot.im](https://matrix.to/#/!GMrAjYhYGQqbvuNvJX:matrix.org?via=matrix.org) channel (#nibabel:matrix.org). If people prefer, the [Brainhack M

[2020-01-26 19:44] anibalsolon commented on #864
Riot.im seems nice! I am fine with it.

[2020-01-26 21:36] yarikoptic commented on #864
FWIW we use riot and jitsi for DataLad. This I +1 on riot ;-)

[2020-01-27 16:57] effigies commented on #863
Please reopen if there are remaining issues on nibabel's end.

[2020-01-27 16:57] #863 closed

[2020-01-27 16:59] #834 closed

[2020-01-27 17:01] effigies commented on #831
Sorry to be slow on this. Could you provide a minimal reproduction of the issue?

[2020-01-28 10:55] oscarbates commented on #831
No problem.

I'm working with the qure.ai dataset which can be found here,

http://headctstudy.qure.ai/

I'm using python=3.6, Ubuntu18.04.3

Below is a code to replicate the bug. Sorry to quote it verbratim, I'm not sure how to attach a .py file.

`import glob`
`from natsort import natsorted`
`import pydicom`
`import numpy as np`
`import copy`
`import nibabel as nib`
`import re`

`path_to_qureai_

[2020-01-28 16:21] larsoner opened #869 "BUG: API docs fail when nibabel.info.VERSION doesn't match nibabel.__version__"
Currently this page has no links:

https://nipy.org/nibabel/api.html#api

Found by seeing that our `intersphinx` links have [broken in CIs](https://circleci.com/gh/mne-tools/mne-python/17705).

[2020-01-28 16:35] effigies commented on #869
Ugh. Thanks.

[2020-01-28 16:42] effigies commented on #869
Okay, it's fixed. Apparently our doc build scripts don't love versioneer. I'll try to have that fixed before the next release.

[2020-01-29 18:09] effigies commented on #864
Hi all, I just want to draw your attention to #865, which shows the diff of the `pytest` branch against `master`. You may want to have a look through to see what's already been done, and I've left comments about idioms we might want to try to work with, for consistency. Please feel free to comment with additional thoughts.

[2020-01-30 01:41] djarecka commented on #864
and I will prepare to describe my "workflow" for changing the tests, so people can use it if they don't have better ideas.

[2020-01-30 09:06] fepegar commented on #492
I confirm this problem is still happening: https://github.com/fepegar/torchio/issues/77

[2020-01-30 15:48] effigies commented on #492
Right.

The reason it looked like `get_fdata()` always did a copy was because we always coerced to `float64`, so `get_fdata(dtype=np.float32)` would cast up and then down on data that is already `float32`, and casting necessarily makes a copy. When we fixed that bug, `memmap`s started being exposed again.

Loading with `mmap=False` is still the right move.

Fiddling with this, though, I think we c

[2020-02-04 02:30] effigies commented on #864
Hi all. A note that I've updated the top post with some tasks. Some can likely be broken down further, but I figure I'll leave that to the person who starts working on a given one to decide to split up jobs.

Everybody in this thread thus far should have write access to the repository, so you can edit the top post to let people know you're working on it, break down the tasks, or link to a PR addre

[2020-02-04 04:14] djarecka commented on #864
@effigies - sounds good! I will try to be at 9ish.

I completely forgot that I had still some tests in `nibabel/tests` that I didn't finish, and I put in those `import pytest; pytestmark = pytest.mark.skip()`, so I can run pytest on entire directory. I've already started working on them, so put my name next to them.

[2020-02-04 04:33] djarecka commented on #864
These is my workflow for converting the tests:
* using `nose2pytest` for the basic conversion:
     - the package is a bit abandon, as far as I remember I failed to install it with any newer python, so I use python=3.4 for this environment
    - running `nose2pytest -v <test_directory>`
* finishing by hand, the most common changes needed to be done manually:
    - `assert_raise` -> `pytest.raises`

[2020-02-04 09:36] robbisg commented on #864
Ok! Thank you.

I am working on [nibabel.streamlines.tests.test_array_sequence](https://github.com/nipy/nibabel/blob/pytest/nibabel/streamlines/tests/test_array_sequence.py) which seems easy to me for beginning!
I will check the tests on my laptop then I will push from my fork to be sure, I'm not messing up something!

[2020-02-04 11:18] robbisg commented on #864
Now I will work on [nibabel.streamlines.tests.test_tractogram](https://github.com/nipy/nibabel/blob/pytest/nibabel/streamlines/tests/test_tractogram.py)!

[2020-02-04 12:24] robbisg commented on #864
I will be out from 8am-10am (UTC-5) !

[2020-02-04 14:25] djarecka commented on #864
@effigies - how can I find you on riot? I was able to login to my account, but not sure what to do next.
The link you sent yesterday doesn't go to the room for me

[2020-02-04 14:28] effigies commented on #864
The room is #nibabel:matrix.org. I assumed the link would get people there.

[2020-02-04 14:35] djarecka commented on #864
not really, but trying to find you...

[2020-02-04 14:55] effigies commented on #864
If anybody needs help setting up a test environment, let me know and I can put together some instructions.

[2020-02-04 17:38] orduek commented on #864
I'll be happy to get some help on that matter. thanks

[2020-02-04 17:51] djarecka commented on #864
@orduek - hi, do you have conda installed on your laptop?

[2020-02-04 17:52] orduek commented on #864
Sure. I have miniconda

On Tue, Feb 4, 2020, 12:51 PM Dorota Jarecka <notifications@github.com>
wrote:

[2020-02-04 18:03] djarecka commented on #864
- so you should start from forking the repository and cloning your fork to the laptop
- than in the new python environment (probably 3.7 or 3.8 would be the best), you can install the `nibabel` package by running  directory you should install `pip install -e .[all]` and try to import in python to see if it works
- once it works you should change the branch from `master` to `pytest` and try to run

[2020-02-04 18:37] effigies commented on #864
Thanks, @djarecka.

Yeah, just to make very explicit, I use the following:

[code]

And then you can run `nosetests` or `pytest`, as needed. See:

 https://github.com/nipy/nibabel/blob/ab2e0b89929a4a0ecb8a614359f857bb98638c8b/.travis.yml#L136-L196

[2020-02-05 17:01] tomfrankkirk opened #880 "giftiio.write deprecation; suggested alternative misleading"
Nibabel version 2.5.1

I have a gifti functional image object that I would like to save. When I use top level save function, as in nibabel.save(obj, 'gifti.func.gii'), the files that are produced are not readable by other tools (though nibabel does not give any warnings).

When I use giftiio.write(obj, 'gifti.func.gii'), the produced files interact nicely with other tools, though I get the followi

[2020-02-05 17:18] effigies commented on #880
This is very strange, because `giftiio.write()` just passes the image and filename to `nibabel.save()`:

https://github.com/nipy/nibabel/blob/a616f7f93271064fb8be565df07253b495fc9d97/nibabel/gifti/giftiio.py#L36-L85

Could you provide an example that generates this error?

Agreed that it should say `save`, rather than `load`...

[2020-02-05 17:24] tomfrankkirk commented on #880
Sure thing - will cook one up tomorrow sometime.

[2020-02-06 14:45] tomfrankkirk commented on #880
Update: i think I have tracked this down to me cutting corners when creating the gifti object. At any rate I can't seem to reproduce this on my linux machine, if I can do so on OS X (where it first came up) then I will put the code here.

[2020-02-06 15:48] effigies commented on #880
Understandable. GIFTI is a pretty complicated format. We recently (#793) improved the API for fetching data from images, and are open to improving the API for creating well-formed images, as well, in case you have any ideas. (cc @htwangtw)

[2020-02-07 11:03] tomfrankkirk commented on #880
I do have one suggestion, but I know its not very good practice... that said, many people do it, because it's an easy way to make things work! When I'm being lazy, I'll load in an existing gifti and simply over-write the data arrays and save it under a new name. Maybe there could a place for a function along the lines of 'create gifti from existing': that uses an existing well-formed gifti as the

[2020-02-07 19:10] orduek commented on #864
Hi @effigies, I can take on another task if needed.

[2020-02-07 19:15] effigies commented on #864
If you've got the time, there are several submodules that haven't been claimed.

[2020-02-10 10:56] robbisg commented on #864
I'm working on ```nibabel.cifti2.tests``` and ```nibabel.cmdline.tests```

Question:
[code]
How to translate ```slice```, I've done:
[code]

[2020-02-10 11:12] htwangtw commented on #880
Thanks @effigies for including me in this thread!
The suggestion from @tomfrankkirk sounds like a practice carried from nifti file creation (copy header, replace data etc.), which I am sure that we all do from time to time. However, this is not as easy to implement in nifti because a gifti file is consist of many gifti arrays and each of them has a header.
From my understanding of gifti files, the

[2020-02-10 13:33] effigies commented on #864
Hi @robbisg,

I would translate these:

[code]

And for `assert_raises(*raiser)`, I would suggest simply changing to `pytest.raises(*raiser)`. Deconstructing `raiser` for the sake of using `with` doesn't seem worth it to me.

[2020-02-10 16:09] tomfrankkirk commented on #880
I think an example would certainly be helpful. I've done some more digging today and worked out that type-casting is also giving me grief. The following email thread is similar to the prolem I was having: https://mail.python.org/pipermail//neuroimaging/2017-April/001381.html

Basically I was creating GiftiDataArrays from float64 np arrays, then saving them and having trouble reading them with wb_c

[2020-02-10 20:54] orduek commented on #864
I'll also take nibabel.cmdline.tests. Work on it tomorrow.

[2020-02-10 21:01] robbisg commented on #864
Hey @orduek, I already did this module!

[2020-02-10 22:17] effigies opened #886 "Old Matplotlib Travis test failing"
The `OLD_WHEELS` repository seems to be either flaking or down: https://5cf40426d9f06eb7461d-6fe47d9331aba7cd62fc36c7196769e4.ssl.cf2.rackcdn.com/

This is affecting Travis jobs requesting matplotlib 1.3.1. @matthew-brett Do you know where to get more information on this host?

In any event 1.3.1 is from 2013. The current http://wheels.scipy.org has Python 3.5 wheels for 1.5.2, which is 2016 relea

[2020-02-10 22:21] effigies commented on #864
I don't know that anything needs to be done in benchmarks, except improve the docstrings.

I think the next thing to do is to replace old `nibabel.testing` with `nibabel.testing_pytest`, update the imports everywhere and see if anything breaks.

[2020-02-11 09:09] matthew-brett commented on #886
Yes, sorry, this is a Rackspace container, and Rackspace recently cancelled
the free subscription we were using - we're just trying to work out where
to move stuff too.  Yes, that's way-old now - maybe support a few years
back?

On Mon, Feb 10, 2020 at 10:17 PM Chris Markiewicz <notifications@github.com>
wrote:

[2020-02-11 12:15] effigies commented on #886
Okay. Let's update to 1.5. I'll submit a PR for the maintenance branches.

[2020-02-11 16:28] effigies commented on #880
This is definitely frustrating. The question we have to ask is whether coercing to the standard is worth potentially surprising people with lost precision. In general nibabel takes a "programmer knows best" approach, and leaves it to downstream libraries/apps to do coercion.

On the other hand, I don't think any of the binary formats accept data types that the standard does not explicitly permit,

[2020-02-12 13:33] djarecka commented on #864
@effigies - anyone is working on `nibabel.testing`? I could work on this this week, but can't promise which day exactly.

[2020-02-12 14:34] effigies commented on #864
@djarecka I don't think so. Feel free.

[2020-02-12 22:51] kaczmarj opened #888 "question: how to cast to lower precision without overflow"
does nibabel provide a method to cast, say, a float32 image to uint8, without clipping values? i've found [ArrayWriter](https://nipy.org/nibabel/reference/nibabel.arraywriters.html) and the [casting module](https://nipy.org/nibabel/reference/nibabel.casting.html), but it isn't clear to me how i can cast without clipping (while also preserving the data to a reasonable degree).

[2020-02-12 22:58] effigies commented on #888
Nibabel automatically finds the scale factors (for NIfTI-1, float32 slope and intercept) to rescale the data into the output dtype.

[code]

[2020-02-12 23:05] satra commented on #888
@effigies - this question comes from the opposite side, imagine you have an image in `dtype=np.float32` that has values greater than 255 and you want to cast it to `np.uint8`.

if i remember, nibabel doesn't have such a functionality. because this requires nibabel to know that scaling to fit is ok.

[2020-02-12 23:55] effigies commented on #888
Can you propose an example that fails? I feel like I answered that...

[2020-02-13 00:10] satra commented on #888
@effigies - it works the way you have proposed.

[2020-02-13 06:16] kaczmarj commented on #888
thank you @effigies !

[2020-02-13 06:16] #888 closed

[2020-02-17 00:48] djarecka commented on #864
@effigies - I've made changes, but by mistake I push it directly to `nipy`, sorry for this, hopefully all test will pass (it did on my osx)...

[2020-02-17 11:25] htwangtw commented on #880
Took me some time to dig out the code. @tomfrankkirk
Here's a minimum example to create some random values on the 32k gifti HCP surface
[code]
When loading with Workbench, select the valid strucure lable (CortexLeft)

[2020-02-17 11:28] shanpriya3 opened #890 "CT windowing"
Hi, I would like to apply HU /CT windowing on CT volume to segment Pancreas from abdominal CT. To do so, how to obtain the window width and window center values from a nifti image?

[2020-02-17 11:54] tomfrankkirk commented on #880
Thanks for the explanation @effigies and example @htwangtw - I didn't know about the agg_data() shortcut to get the points and triangles out of a surface gifti, thats very handy to know! I understand your general point about trusting that the programmer knows best. Sneaky though some of the issues highlighted here are, I guess they are just part of the learning curve and hopefully a few hints and

[2020-02-18 19:13] effigies commented on #864
If somebody has time to review #891, I would appreciate it.

[2020-02-18 19:18] effigies commented on #890
I'm not really familiar with this terminology, but you can get the sizes of the voxels:

[code]

The units:

[code]

And the number of voxels in each dimension:

[code]

This should be enough to determine the field-of-view. If the remainder of the question means determining the world coordinates of each voxel, or the value of the voxel nearest a given world coordinate, I would recommend having a r

[2020-02-19 10:15] joshy opened #892 "Passing a SpooledTemporaryFile to load"
Dear lovely people at nibabel,

thanks a lot for creating and supporting nibabel. Is it possible to have the an additional method for loading from a [SpooledTemporaryFile](https://docs.python.org/3/library/tempfile.html#tempfile.SpooledTemporaryFile) or directly BytesIO? Or to have it possible with the existing load method (check if type is SpooledTemporaryFile and then skip os.stat check)?

Curre

[2020-02-19 13:08] effigies commented on #892
Several single file images have a from_bytes method as of 2.5.

[2020-02-19 13:46] joshy commented on #892
Hi Chris,

thanks for the fast response. That is exactly what I was missing!
[code]
Thanks!

[2020-02-19 13:46] #892 closed

[2020-02-20 08:43] shanpriya3 commented on #890
Sorry for not being specific.
I have CT volumes in Nifti format. I would like to apply the Hounsfield Unit(HU) windowing to these volumes to get soft tissue information. For doing so, I need RescaleSlope, RescaleIntercept, Window Center and Window Width values. In Dicom, it is possible to get these values using print(image). (
https://vincentblog.xyz/posts/medical-images-in-python-computed-tomogra

[2020-02-20 19:32] effigies commented on #890
NIfTI has no concept of window center or width, so you're going to have to find some external source for that information. That might be simply encoding the values on that website.

NIfTI does have the header fields `scl_slope` and `scl_inter`. These are applied automatically through the [image data array](https://nipy.org/nibabel/nibabel_images.html#the-image-data-array). So if the result of `img

[2020-02-24 13:43] #864 closed

[2020-03-06 15:35] #886 closed

[2020-03-06 22:13] effigies commented on #801
Please reopen if this needs further discussion.

[2020-03-06 22:13] #801 closed

[2020-03-06 22:16] effigies commented on #859
@matthew-brett Do you feel we should remove `pyproject.toml`, or are you content to use `--no-use-pep517` in this context?

I'm honestly not happy with any options at this point, so can be persuaded to go either way.

[2020-03-06 22:17] #869 closed

[2020-03-06 22:17] effigies commented on #869
Fixed in the `maint/3.0.x` branch. Will release Monday and merge into `master`.

[2020-03-06 22:18] effigies commented on #890
@shanpriya3 Please reopen if this needs further discussion.

[2020-03-06 22:18] #890 closed

[2020-03-07 10:02] matthew-brett commented on #859
I'm fine either way - but - what is the advantage of `pyproject.toml`?

[2020-03-07 11:28] effigies commented on #859
Build dependencies get installed in a clean environment for the build, so old setuptools or missing wheel don't produce inscrutable errors.

[2020-03-07 11:59] matthew-brett commented on #859
Is this problem in practice?  Are there systems out there, that are installing without wheel?   Can we avoid the setuptools problem by releasing wheels as well as sdists?

[2020-03-07 12:24] effigies commented on #859
I don't know that it is a problem in practice. At the time it seemed like a cheap win that would prevent a particular class of bug report. But without a build dependency like cython where the build environment is trickier to get right, it may be overkill.

And we do release wheels.

[2020-03-07 13:53] matthew-brett commented on #859
OK - so then, with wheels, we've covered everyone using pip.

The remaining user must be someone trying to install nibabel from an sdist or source checkout, using `python setup.py install` or similar - is that right?  And from that subset, we are trying to help the further subset who have an outdated setuptools or no installation of wheel.  I think this must be a very small group, and presumably t

[2020-03-07 14:02] effigies commented on #859
Fair enough. I'm okay dropping pyproject.toml for now.

[2020-03-07 15:04] effigies commented on #859
Done in `maint/3.0.x`. Will be in `master` on Monday.

[2020-03-07 15:04] #859 closed

[2020-03-07 20:31] effigies commented on #831
You can paste files in a [gist](https://gist.github.com/).

[2020-03-30 05:25] BramshQamar opened #897 "Nibabel future plans for DICOM files support"
Hello,

I wanted to ask about Nibabel's future plans for enhancing support for DICOM files. For example, adding a direct function for converting DICOM to Nifti or adding support for different scanners/vendors.

Thank You,
Bramsh

[2020-03-30 16:40] ranabanik opened #898 "nibabel.filebasedimages.ImageFileError: Cannot work out file type of "../../499/499_CT.nii.gz""
I have worked with 498 images in the similar code below. The 499th image generates the error in the title. I can open and visualize the image in .nii.gz file viewer like ITK and others. The file size is bigger compared to other images of same category.

`import nibabel as nib
import os

CT = nib.load('/media/banikr2/DATA/emModels/CT-MR_batch2/499/499_CT.nii.gz').get_data()`

what could be the issu

[2020-03-30 17:06] effigies commented on #898
It seems likely there's an issue in the header. Could you run:

[code]

And share the resulting `trunc.nii`?

[2020-03-30 18:11] ranabanik commented on #898
`banikr2@banikr:~$ zcat /media/banikr2/DATA/emModels/499/499_CT.nii.gz | head -c 1024 > trunc.nii

gzip: /media/banikr2/DATA/emModels/499/499_CT.nii.gz: not in gzip format
`

I ran it from the terminal.

[2020-03-30 18:11] ranabanik commented on #898
`banikr2@banikr:~$ zcat /media/banikr2/DATA/emModels/499/499_CT.nii.gz | head -c 1024 > trunc.nii

gzip: /media/banikr2/DATA/emModels/499/499_CT.nii.gz: not in gzip format
`

I ran it from the terminal.

[2020-03-30 18:18] effigies commented on #898
That's probably the issue, then. Rename the file without the `.gz`, and it will probably work.

[2020-03-30 19:25] ranabanik commented on #898
I renamed the file from .nii.gz extension to .nii and it can be read.
I have many other folders behaving similarly. Do you know the reason why such extension mishap may occur?

[2020-03-30 19:29] effigies commented on #898
It sees that, at some point, your files either got renamed without being compressed or some tool is saving uncompressed NIfTIs regardless of extension.

[2020-03-31 13:32] liamtimms commented on #897
@BramshQamar [disclaimer: I am not part of the nibabel team] I always use `dcm2niix` from https://github.com/rordenlab/dcm2niix to convert to NIFTI first. Maintaining a good conversion tool across all scanners/vendors is a complex project on its own and adding it to nibabel would require  significant replication of effort for not much payoff, no?

[2020-03-31 14:01] effigies commented on #897
There are some open PRs for improving DICOM support that have quite recently seen some activity. Additionally, @satra had expressed interest in merging components of dcmstack into nibabel.

There are no definite timelines, and I would echo @liamtimms in recommending dcm2niix for conversions.

[2020-04-01 04:17] BramshQamar commented on #897
Thanks @effigies and @liamtimms for getting back to me. I always use dcm2niix too and I have tried other tools for converting DICOM to nifti as well. I think dcm2niix works the best among all.

I was just checking with nibabel if they had any plans to have DICOM to nifti converter. It makes sense not to reinvent the wheel.

Thanks,
Bramsh

[2020-04-06 10:35] servoz commented on #411
Hi,
I'm just about to working on a possibility (as general as possible) to resample images in our [project](https://github.com/populse).

If we need to resample a 3D from a 4D we can consider to do something like:
[code]
However, as you indicate in this ticket, things get more complicated if we want to do the opposite, because resample_from_to() function seems to accept only matrices of same dimen

[2020-04-07 18:37] effigies commented on #854
Removing the deprecated code will make the errors less informative in case somebody missed the 3.0.x series. Let's plan to remove them in 4.0 instead.

[2020-04-07 18:37] #854 closed

[2020-04-07 20:43] #898 closed

[2020-04-07 20:43] #897 closed

[2020-04-15 23:25] kaczmarj commented on #861
This probably isn't a good solution here because nibabel already has infrastructure in place to build wheels, but I wanted to include this for future readers. Docker has the ability to build and run images for different platforms, including arm64 and ppc64le. See https://www.docker.com/blog/getting-started-with-docker-for-arm-on-linux/.

[2020-04-16 14:48] kaczmarj commented on #861
I ran nibabel's tests on arm64, and only one failed.

[code]

To reproduce, run nibabel in an arm64 docker image:

[code]

[2020-04-16 16:25] bcdarwin commented on #861
This is the same test failure as I got on Hydra (Nixpkgs CI), so nice work creating a reprex that runs on x64.

[2020-04-19 13:07] #851 closed

[2020-04-20 02:11] effigies commented on #670
`affines.rescale_affine` added in #853.

[2020-04-20 02:11] #670 closed

[2020-04-21 07:05] hubutui opened #904 "test failed on ArchLinux with version 3.1.0"
Hi, I create package for ArchLinux, and it failed to run many tests. After building nibabel, I run the test with:
[code]
And here is the complete log: [python-nibabel-log.txt](https://github.com/nipy/nibabel/files/4508231/python-nibabel-log.txt)

[2020-04-21 12:40] effigies commented on #904
[code]

Is it possible that you're not building the right version?

[2020-04-21 14:08] hubutui commented on #904
Oh, I'm so sorry. I forget to update the pkg version. pkg is updated by lilac robot, and here is the [build log](https://build.archlinuxcn.org/~imlonghao/log/python-nibabel/2020-04-21T01%3A17%3A02.html).  According to the [doc](https://github.com/nipy/nibabel/blob/master/doc/source/devel/advanced_testing.rst#long-running-tests), nibabel switch from nose to pytest. After switch nose to pytest, ever

[2020-04-21 14:08] #904 closed

[2020-04-21 14:14] effigies commented on #904
Thanks for checking in!

[2020-04-23 01:01] ytliang97 opened #905 "How to load byte format of nifti file with nibabel method?"
system: Mac OS Catalina 10.15
language: python3.6.9
nibabel version: 3.0.0

Hi, I want to convert nifti file(nii.gz) into bytes string that I could use to generate tensorflow record. But when I tried this:

[code]
I got:
[code]

And I have checked that there aren't any '\0' nor '\t' in my file path.

It seems `nib.load()` could only feed file path.

Is there another method in nibabel could load by

[2020-04-23 01:10] effigies commented on #905
For this, use `nib.Nifti1Image.from_bytes()`.

We may be able to abstract out the machinery from load to detect image type to allow a general loading function, but right now you'll need to know the type first.

[2020-04-23 01:46] ytliang97 commented on #905
Thanks for reply, I’ll try it later.

[2020-04-23 14:10] sravan953 opened #906 "Help applying affine transformation"
Hello,

I am unable to figure out how to apply an affine matrix (`get_affine()` to the `numpy` array(`get_data()`). I have tried:
[code]
... where `vol` is of shape `(256, 256, 287)`.

[2020-04-23 17:45] nblauch commented on #513
hey guys, did this ever go anywhere?

[2020-04-23 17:57] raamana commented on #513
Hi @nblauch,  I did hack something, but haven't gone through the full dev / PR yet. If you would like to take over, i am happy to share what I wrote.

[2020-04-23 19:55] effigies commented on #906
What are you trying to do?

[2020-04-23 20:36] sravan953 commented on #906
I want the `numpy` data to be transformed so that when I view it using `matplotlib` it is of the right orientation. Loading the same volume using `SimpleITK` and calling `GetArrayFromImage()` I get a different volume on display.

[2020-04-23 22:04] nblauch commented on #513
thanks, i ended up just running ```asegstats2table``` to get all my subjects in a .tsv and then reading that with ```pd.read_csv ```, columns nicely formatted.  easy enough.

[2020-04-24 12:00] effigies commented on #906
First, I would suggest having a look at [nilearn's plotting tools](https://nilearn.github.io/plotting/index.html), rather than writing your own methods for plotting with matplotlib. You can also use `img.orthoview()` on the `SpatialImage` object directly, and the plots will respect the orientation of the image.

----

For actually manipulating the image:

`apply_affine` does not operate on a data

[2020-04-24 12:09] sravan953 commented on #906
Thanks for all this information, it is very helpful!

[2020-04-24 12:09] #906 closed

[2020-04-28 09:33] ytliang97 commented on #905
Yes, it works! Thank you so much! @effigies

[code]

[2020-04-28 09:33] #905 closed

[2020-04-28 11:40] ytliang97 commented on #905
I just notice that `nib.Nifti1Image.from_bytes()` works for your file is **not compressed**.

that is:

FLAGS.data_path = 'xxx.nii'

not FLAGS.data_path = 'xxx.nii.gz'

so make sure you already uncompress your nifti file.

[2020-04-28 12:11] effigies commented on #905
Right. You can separately decompress a byte stream.

[2020-05-01 05:06] tirkarthi opened #907 "Deprecation warning due to invalid escape sequences."
Deprecation warning due to invalid escape sequences. Using raw strings or escaping them again helps in resolving this. Check https://github.com/asottile/pyupgrade/ for automatic fix of this.

[code]

[2020-05-01 17:43] sanjayankur31 opened #908 "Failing tests: Fedora 33 (rawhide): python 3.8"
I was updating the package for Fedora, but I see a lot of tests failing. Not sure if this is a Fedora specific error. I'll test it out in a virtual environment now also, but I thought I'd file an issue:

[code]

Downstream issue: https://bugzilla.redhat.com/show_bug.cgi?id=1811945

[2020-05-01 17:53] sanjayankur31 commented on #908
Here is an example (failing) scratch build: https://koji.fedoraproject.org/koji/taskinfo?taskID=43988067

logs attached:

- [buildlog.txt](https://github.com/nipy/nibabel/files/4565619/buildlog.txt)
- [rootlog.txt](https://github.com/nipy/nibabel/files/4565628/rootlog.txt)

[2020-05-01 18:20] effigies commented on #908
It looks like you're still using nose. We've switched to pytest. Does that work?

[2020-05-01 18:43] sanjayankur31 commented on #908
Ah, yes, pytest seems to work:

[code]

Thanks! I'll go push the update now! :)

[2020-05-01 18:43] #908 closed

[2020-05-15 13:37] effigies commented on #861
Numpy got `aarch64` wheels up on https://anaconda.org/scipy-wheels-nightly/numpy/files, so we're able to replicate this bug on [Travis](https://travis-ci.com/github/nipy/nibabel/jobs/334565978#L6204-L6255), now. (See #862.)

I'm not likely to have much time to fiddle with this until June, so others should feel completely welcome to take a stab at it.

[2020-05-16 00:44] effigies commented on #861
Using @kaczmarj's image and running `pytest --pdb nibabel/tests/test_volumeutils.py`, I can at least narrow the case down to `float128` on ARM64. Didn't have time to whittle it down to a minimal reproduction.

[2020-05-17 07:01] Peterisfar opened #912 "Is there a corresponding C ++ library function for NiBabel？"
Is there a corresponding C ++ library function for NiBabel？

[2020-05-17 07:07] aktasfatih commented on #912
You can look into RNifti. It is used to access medical file formats. It has a c++ API. github.com/jonclayden/RNifti/tree/master/standalone

[2020-05-17 08:52] matthew-brett commented on #912
But the answer for Nibabel is no - because it's a pure Python library.  I'm sure you know, but you can call Python from within C++;  I have never done that myself.

[2020-05-20 15:47] effigies opened #913 "Determine valid dtypes for an image class"
Over in https://github.com/nilearn/nilearn/pull/1500 there's an issue where they're facing adjusting the default data type for encoding boolean masks based on the image type.

The current API-friendly way to see whether an image can write using a dtype is to try `set_data_dtype` and see if you get an exception. But we can also do `dtype in img.header_class._data_type_codes`.

I suspect the reason

[2020-05-24 23:03] effigies commented on #861
The issue turned out to be that `np.float64(np.nan).astype(np.int8)` is not the same as `np.float128(np.nan).astype(np.int8)` on Arm64.

The fix turns out to be quite simple: 5434b330a6c65ca122eb53f883b5c01bcf78395a

Would anybody care to review #862?

[2020-05-25 02:10] #912 closed

[2020-05-25 20:25] effigies commented on #734
To update the table with actual releases and project out through the end of 2020:

| Release | Month |
|-----|-----|
| 2.5.0 | July 2019
| 3.0.0-rc1 | November 2019 |
| 3.0.0 | December 2019 |
| 3.1.0 | April 2020 |
| 3.2.0 | August 2020 |
| 4.0.0-rc1 | November 2020 |
| 4.0.0 | December 2020 |

See also #803 for Python/Numpy support.

[2020-05-27 16:37] effigies commented on #861
This should be resolved in master and will be fixed in the next bug-fix release.

@bcdarwin That can come quickly, if this will be useful to Arch. If you already have a workaround, then we can wait and see if any more bugs come up before a new release. Just let me know.

[2020-05-27 16:37] #861 closed

[2020-05-27 16:55] bcdarwin commented on #861
Great!  It's just a question of marking the Arm build unbroken in the Nixpkgs repo.  Since I doubt there are many Arm users yet we can probably wait until a new release.

[2020-05-27 16:59] effigies commented on #861
I might wait until late June (after the OHBM hackathon) then, to see if anything comes up. But bug fix releases are cheap, so if it becomes useful to have an official version number with ARM support, just shout.

[2020-06-04 09:47] fepegar opened #920 "AttributeError raised in OrthoSlicer3D"
I'm trying to visualize a volume using `OrthoSlicer3D`, but get a `matplotlib` error:

Script:

[code]

Output:

[code]

[2020-06-04 11:04] effigies commented on #920
Guessing this is with a recent matplotlib release? They may have made the method keyword only.

[2020-06-04 13:02] fepegar commented on #920
Yes, latest `matplotlib` and `nibabel`.

Oh, looks like @matthew-brett has chased this before: https://discourse.matplotlib.org/t/confusion-about-draw-artist/19891

I'm indeed using macOS.

[2020-06-05 23:22] fepegar commented on #920
I've also found this mysterious warning: https://render.githubusercontent.com/view/ipynb?commit=09cdc5ebe1ffe31608756e79c6cb1848742e6969&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6e6970792f776f726b73686f70732f303963646335656265316666653331363038373536653739633663623138343837343265363936392f3137303332372d6e69707970652f6e6f7465626f6f6b732f6e69626162656c5f6e696c65617

[2020-06-08 19:32] soroush361 opened #921 "Saveing Nifti1 changes the data"
Hi,

I have a very short script for image read and write as below:
[code]

Based on the code the print result must be identical, but I got:
[code]

I believe it is something related to `dtype`. But I couldn't figure it out.
My python version is `3.7.4` and my Nibabel version is `3.1.0`.
Can anyone help me with this?

[2020-06-09 08:40] matthew-brett commented on #921
This is what I expect.  By default, when nibabel Nifti saves an image, it rescales the data to best fit within the output dtype range.  I'm sure you've got an int output dtype, I'm guessing int16.

If you want to preserve the exact same scaling, you have to jump through some hoops.

[2020-06-09 20:11] soroush361 commented on #921
Perfect, thank you so much!
I've just cast the array to `np.int16` when I'm saving it and it resolved the issue.

For others who have the same problem:
Nibabel loads the array as `float64` regardless of the header's datatype. Therefore, it is your responsibility to check the header datatype and cast the array to the proper datatype as in the header. This way the data will be preserved.

[2020-06-09 20:22] #921 closed

[2020-06-11 08:58] jond01 commented on #906
Just updating - looks like it is going to be solved:
InsightSoftwareConsortium/ITK#1868

[2020-06-16 13:37] effigies opened #923 "Python 3.8 tests failing for CLI tools"
https://travis-ci.com/github/nipy/nibabel/jobs/349309596#L6280

Regular tests and pre-release. Seems like something's upgraded in the last few days, but it's not Python, pytest or coverage. Could be [pytest-cov](https://github.com/pytest-dev/pytest-cov/releases).

[2020-06-16 17:20] seralouk opened #924 "Affine matrix not the same between Nibabel and SPM"
I just came across this unexpected behavior and incosistency between SPM (matlab) and Nibabel (Python) when looking at the affine transformation matrix of the same nifti file.

The matrices are not the same.

Matlab using SPM:
[code]

Python
[code]

[2020-06-16 17:29] effigies commented on #924
Might be a qform/sform difference?

[code]

[2020-06-16 17:35] matthew-brett commented on #924
I think it's due to the difference in Python and Matlab array indexing.  Python is 0-based, and Matlab is 1-based.  So - for example. the first voxel will be 0, 0, 0 in Python.  It will have mm coordinate 90,. -126, -72.   The first voxel will be 1, 1, 1 in Matlab, and will have coordinate 92 - 2 = 90, -128 + 2 = -126, -74 + 2 = 72.   So the affines give the same mm for the corresponding array ind

[2020-06-16 17:37] seralouk commented on #924
Actually no.. Weird situation.
I am sharing the nifti here:  https://www.dropbox.com/s/zb4syi1e6p66gk5/test.nii?dl=0

[2020-06-16 17:50] seralouk commented on #924
Amazing. This is the case indeed. Just another quick think.
Even if affines give the same mm for the corresponding array index, I notice that the estimated scanner-coordinates in mm are not the same between Nibabel & Matlab.

Nifti file: https://www.dropbox.com/s/zb4syi1e6p66gk5/test.nii?dl=0

**Matlab**
[code]

**Python**
[code]
What am I missing here?

[2020-06-16 18:07] matthew-brett commented on #924
You need to flip the coordinate axis to be the first before doing your reshape, to get the equivalent to the SPM XYZ array:

[code]

[2020-06-16 18:20] seralouk commented on #924
Once again thanks. Another way would be using `ravel` (equivalent to your code) as follows:

[code]
Cheers!

[2020-06-16 18:20] #924 closed

[2020-06-16 19:01] effigies commented on #923
Not happening on today's cronjob. Will leave open for now, but hopefully it's just a fluke.

[2020-06-24 16:27] hjmjohnson commented on #906
@jond01  Actually ITK was rigidly adhering to the original NIFTI standard as discussed with the NIFTI developers at the time.

Given that the issues with precision when adhering to the original standards, many tools adopted the use of the sform for it's potentially greater precision.  ITK is late to making the change to the general community use over the original developers' intentions.

I hope th

[2020-06-24 18:53] jond01 commented on #906
I see @hjmjohnson, thanks for this interesting remark and the effort to keep the ecosystem consistent

[2020-06-30 01:24] effigies opened #926 "BrainSuite DFS format"
BrainSuite has a binary surface format, and an existing, unmaintained Python (2.7) implementation: https://pydoc.net/bss/0.9.4/bss.dfsio/

[2020-06-30 01:27] effigies commented on #926
http://brainsuite.org/formats/dfs/

[2020-06-30 01:54] effigies opened #927 "MRTrix MIH/MIF format"
Worth looking into: https://mrtrix.readthedocs.io/en/latest/getting_started/image_data.html#mrtrix-image-formats

Convertible to a NIfTI-2, but doesn't seem to be entirely volumetric, so might be worth thinking about a non data/affine/header API.

cc @mattcieslak

[2020-07-01 16:17] arushgupta2007 opened #928 "RGB of nii files"
Hi,
I am getting image data in 16bit while I would like to get the image data in RGB.
The current information is got by ImageJ:
![20200701_214430](https://user-images.githubusercontent.com/39236387/86267488-67679280-bbe4-11ea-9f9c-7fb854deb21e.jpg)
Is there a API for this?
I could not find it in the docs!
Thanks

[2020-07-01 16:36] effigies commented on #928
To be clear, you have a NIfTI file with RGB contents that isn't being correctly read by nibabel? Or you have an RGB image you would like to encode as a NIfTI file?

[2020-07-01 16:49] arushgupta2007 commented on #928
Hi,
Thanks for the quick response
I have a .nii file from which I want image data as RGB
Thanks

[2020-07-01 17:09] effigies commented on #928
Is it an RGB image?

[code]

[2020-07-01 17:16] arushgupta2007 commented on #928
Hi,
I get this as the output:
[code]

[2020-07-02 06:30] arushgupta2007 commented on #928
Hi,
I found a workaround to my problem.
I normalized my image data using opencv to scale all values from 0 to 255 but keeping datatype as int16
[code]
Thanks

[2020-07-02 06:30] #928 closed

[2020-07-07 02:37] effigies commented on #923
Seems to have been short-lived.

[2020-07-07 02:37] #923 closed

[2020-07-07 16:01] tsalo opened #933 "Methods to convert between complex data types"
Would it be possible/reasonable to add methods for converting between complex data types (i.e., complex values, real + imaginary, and magnitude + phase) to `nibabel`?

This continues from [a Mattermost conversation](https://mattermost.brainhack.org/brainhack/pl/bu4n1j4ohpfbdnf1713xm646dh), wherein @effigies suggested that nibabel might be able to incorporate these functions.

[2020-07-13 02:12] effigies opened #936 "RFP: SurfaceImage API"
When operating on or plotting surface data, generally you will need two things:

1) A data array containing a scalar or vector at loci sampled over a surface
1) A description of that surface, typically a mesh (vertices and faces)

This mirrors roughly the data+affine model of SpatialImage. Unlike most SpatialImages, we cannot expect data to be placed in the same file as the geometric description.

[2020-07-21 06:53] tillea opened #937 "Test suite failures"
Hi,
the current Debian package is not really up to date and thus the [bug log](https://bugs.debian.org/964610) not relevant for your latest version.  However, I have updated nibabel in Debian packaging Git and realised that there are also several test suite errors with Python3.8.  Here is the log:

    ======================================================================
    ERROR: nibabel.cmdlin

[2020-07-21 11:41] effigies commented on #937
I assume you're using nose? We've switched to purest.

[2020-07-21 11:42] effigies commented on #937
pytest

[2020-07-21 11:45] matthew-brett commented on #937
`pytest` in its purest form?  :)

[2020-07-21 13:54] tillea commented on #937
On Tue, Jul 21, 2020 at 04:45:56AM -0700, Matthew Brett wrote:

:-)
OK, purest `pytest` works - feel free to close the bug.  Thank you
for the quick and helpful response, Andreas.

[2020-07-21 13:59] effigies commented on #937
Thanks for checking back.

[2020-07-21 13:59] #937 closed

[2020-07-24 22:35] tyarkoni opened #939 "Implement arithmetic and logical operator support?"
This has been suggested before (by me, and probably others), but it would be quite helpful to have nibabel classes (at least in the nifti hierarchy) support arithmetic and logical operations as syntactic sugar for common operations—at least in cases where the semantics can be defined with little or no ambiguity.

E.g., `img1 & img2` would give the logical conjunction of two images; `img1 - img2` t

[2020-07-25 01:35] effigies commented on #939
I think we could probably do something like:

[code]

This seems like it could easily fit into `DataobjImage`, and delegate out compatibility checks to headers and subclass methods. At least the first class type has to be makeable.

The user definitely gives up control of memory management, e.g., caching, so we'll need to be clear about that tradeoff in the docs.

We also have something like this

[2020-07-25 03:44] effigies opened #940 "Manually setting slope and inter breaks rescaling"
[code]

Results in:

[code]

Bisecting, this was broken in #220. Prior to that, setting slope and intercept had no effect on what was actually written.

[2020-07-25 07:35] matthew-brett commented on #939
Yes - nice idea.

[2020-07-25 07:55] matthew-brett commented on #940
Sorry - I'm sure I'm missing something - but you say what you expected the result to be?

[2020-07-25 11:49] effigies commented on #940
Ah, yes. Apparently it was too late to explain why I thought it was wrong. Re-reading [Data scaling](https://nipy.org/nibabel/nifti_images.html#data-scaling) I see this is actually the expected behavior.

My intuition was that we always attempted to preserve the values of `dataobj[:]`. If no `scl_slope/scl_inter` are provided, then we calculate the factors based on the data range. If they are prov

[2020-07-25 12:47] matthew-brett commented on #940
I see - so you were thinking that, if the scaling was set, then we would first invert the scaling, before saving the data.

I guess we need to think about use-cases.  When would you want to do that?   When would you want the current behavior?    I can imagine you'd want the current behavior if you wanted to add an offset and a scaling factor to the data, for example, if you wanted apply a simple l

[2020-07-25 14:29] effigies commented on #940
I encountered it while trying to demonstrate the slope/inter concept, not in a real use case.

The real use case I can imagine is to have predictable scaling irrespective of the specific values. For example, if I take one volume out of a time series encoded as int16, if that volume does not have the largest and smallest values in the series, then I am inducing an unnecessary rounding error by usin

[2020-07-25 14:36] matthew-brett commented on #940
I think I'm being generally slow today - but can you unpack your case a bit?   Maybe with a little code snippet?

[2020-07-25 15:26] effigies commented on #940
Yeah, no worries. I'm assuming you're talking about the time series one.

[code]

Example output:

[code]

Larger images may reduce the effect, but we're getting roughly `scl_slope / 2` error from the original purely from a save/load round trip. To get around this I would need to write:

[code]

Output:

[code]

One simple hack to both permit this use case and make the default behavior more obviou

[2020-07-25 15:36] matthew-brett commented on #940
Thanks - yes - I get it now.  So the summary would be where you know the initial scaling, and you are taking and saving parts, such as slices, out of an image.  And yes, I think that's just doing what you've done, saving the initial slope and intercept, and writing with those.

[2020-07-30 15:34] matthew-brett opened #941 "Tools for multiple modality data"
The basic experimental use case is that we have several simultaneous imaging measures, eg fmri eeg and breathing.

The first concern is to have a common container for neuroimaging data from different modalities.

The second one is to conveniently handle temporal synchronization between measures and then interpolation on the same temporal grid.

(Thomas Vincent)

[2020-07-30 15:38] matthew-brett commented on #941
Has anyone checked [MNE](https://mne.tools/stable/index.html) for functionality like this?

Can anyone give some detail on when one would resampling to the same grid?   When would this make sense for modalities like FMRI and EEG, where the EEG is thousands of times better resolved in time?

[2020-07-30 15:54] agramfort commented on #941
@matthew-brett MNE hands multivariate signals with regular and common sampling. Our internal data object is a numpy array

[2020-07-30 16:09] thomas-vincent commented on #941
When dealing with very different temporal resolution, resampling to the same grid is indeed not wanted but they should be at least **aligned**. A common case it to temporally locate an event from one modality and get aligned values in the other modality. It is quite trivial to handle at the low-level with custom numpy array indexing manipulation but maybe there could be more convenient higher-leve

[2020-07-30 16:44] francopestilli opened #942 "Tractography Data Format"
It would be terrific to start a conversation about an agreed-upon data format for tractography.
@arokem @Garyfallidis

[2020-07-30 19:28] mrneont commented on #942
Hi-

I am interested in this.  I have worked on the tractography tools in AFNI (with Ziad Saad).

I imagine FSL developers would be interested, as would Frank Yeh @frankyeh of DSI-Studio and the developers of MRtrix3.

[2020-07-30 19:30] francopestilli commented on #942
Yep! We should have this as an open discussion.

[2020-07-30 19:50] frankyeh commented on #942
Love to see a new format standard. TRK file has been given me a lot of headaches and limited a lot of possible extension. DSI Studio will surely support any open standard for tractography.

[2020-07-31 14:58] emanuele opened #943 "Very slow and memory hungry tractogram loader (TRK)"
At least for tractograms in TRK (Trackvis) format, in the case of a large number of streamlines (>1 million), loading streamlines with dipy.io.streamline.load_tractogram() is extremely slow and requires an unusual amount of memory. Example: for a tractogram of 10 million streamlines, loading takes:
- 15 minutes and approximately 10Gb of RAM with Nibabel
- 1 minute and approximately 5Gb of RAM with

[2020-07-31 19:19] grlee77 commented on #943
The following blog post has a suggestion for how to store ragged arrays (aka jagged arrays), that should fit the case where not all streamlines have the same number of points. It basically would involve concatenating all streamlines along the dimension that varies in length and recording the offsets to each streamline in a separate index list. These two arrays (concatenated and offsets) can then b

[2020-07-31 19:57] effigies commented on #943
We currently have the `ArrayProxy` construct, which just records the offset, dtype and shape, and will pull data when requested. By a similar principle we could have an `ArrayProxySequence` which just pins multiple `ArrayProxy`s to different offsets in the file, or an `ArraySequenceProxy`, which indexes the entire file and acts like an `ArraySequence`.

[2020-08-02 15:30] effigies commented on #920
I think this is a duplicate of #433, then. Sorry about the delay, but can you follow-up there, if you learn anything?

[2020-08-02 15:31] effigies commented on #920
Well, I'll leave it to you to decide if this is a duplicate... Please close if so. :-)

[2020-08-02 15:48] fepegar commented on #920
I would say it's not, although they might be related. I'll keep you posted.

[2020-08-04 01:21] effigies commented on #936
We should have a look at [Trimesh](https://github.com/mikedh/trimesh). FSLeyes uses it for working with meshes, and it only depends on `numpy` and `setuptools` for its base functionality.

[2020-08-04 11:57] samuelstjean opened #944 "New metadata format to go with neuroimaging data files"
A re-copy of my mailing message idea about having a multitool file format (such as say json, so that other people can use it and edit it easily) to accommodate side data, as encountered commonly in say fmri, dmri and quantitative mapping/relaxometry. It's probably useless for pure image processing stuff though that is using weighted images only.

--------------

Even before talking multimodality,

[2020-08-04 15:17] MarcCote commented on #942
I totally agree with @effigies. Adding more people to the discussion. @frheault @jchoude

[2020-08-04 15:20] francopestilli commented on #942
@MarcCote @frheault @jchoude @frankyeh great!
@effigies loading (partial data loading) and efficiency will be critical for the format.

[2020-08-04 15:32] mrneont commented on #942
Trying to include a few other potentially interested people:  @bjeurissen @jdtournier @neurolabusc
(Not finding an obvious FSL-tracking contact via github ID-- could someone else please help with that?)

[2020-08-04 15:34] mrneont commented on #942
@effigies -- would be great to try that API with a demo.

Some functionality we value is keeping track of tracts as bundles-- if we put in some N>2 targets, we often care about any pairwise connections amongst those as separate bundles, because we are basically using tractography to parcellate the WM skeleton.  Does that labeling/identifying of groups of tracts exist there?

[2020-08-04 15:37] effigies commented on #942
The FMRIB contacts I know are @eduff and @pauldmccarthy. They might be able to point us to the right people...

[2020-08-04 16:20] neurolabusc commented on #942
Before creating a new format, it might be worth considering the existing formats and see if any could be enhanced or improved, similar to the way that NIfTI maintained Analyze compatibility while directly addressing the weaknesses. The popular formats seem to be:
 - [BFloat and Bfloat.gz](http://camino.cs.ucl.ac.uk/index.php?n=Main.Fileformats) used by Camino.
 - [MRI studio's DAT format](https://

[2020-08-04 16:58] Garyfallidis commented on #942
Hi all,

And thank you for bringing this up. I have to say this a recurrent topic. Every one or two years this re-emerges.

I suggest before you do anything else study what is already developed in the existing API in nibabel.

Marc-Alex and myself worked quite a bit to support all the basic needs. Accessing bundles fast, adding properties etc. Actually we have already implemented a fast version th

[2020-08-04 17:38] frheault commented on #942
It is important to mention that no matter the file format, the main problems when it comes to standard will remain.
Most people have a lot of trouble with TRK because you can mess up the space or the header or both.
But the same remains true for vtk/tck, one could always write the TCK wrong (data) and/or provide the wrong nifti as a reference for the transformation.

No matter the new format, the

[2020-08-05 03:44] arokem commented on #942
At the danger of somewhat rerouting the conversation, I guess since this has come up, this might also be a good time to discuss whether it would be beneficial to "upstream" the `StatefulTractogram` that @frheault has implemented in DIPY into nibabel. It's been "incubating" in DIPY since April 2019 (https://github.com/dipy/dipy/pull/1812), with a few fixes and improvements along the way (e.g., http

[2020-08-05 03:48] arokem commented on #942
Oh - just saw the mailing list messages and now understand where this originated (here: https://mail.python.org/pipermail/neuroimaging/2020-July/002161.html, and in other parts of that thread). Sorry: hard to stay on top of everything...

[2020-08-05 04:45] frankyeh commented on #942
The 10-million tractogram mentioned in that original thread is quite a
challenge, and I am not sure if a new file format would be the answer.
Emanuele already achieved 1 min loading time with TRK (pretty impressive).

[2020-08-05 11:07] jdtournier commented on #942
I'm looping in Rob Smith (@Lestropie) into this conversation, this is something we've discussed many times in the past.

I've not had a chance to look into all the details here, but here's just a few of my unsolicited thoughts on the matter, for what they're worth:

- The issue of loading a 10M streamline tractogram into memory is in my opinion independent of the file format - it's about internal

[2020-08-05 11:28] eduff commented on #942
Probably the best person to bring in regarding tractography formats from FMRIB would be Saad Jbabdi (or possibly Michiel Cottaar).

[2020-08-05 12:34] neurolabusc commented on #942
I think @jdtournier did a nice job of describing the tradeoffs, and also agree that IEEE-754 float16 (e.g. [GLhalf](https://www.khronos.org/opengl/wiki/OpenGL_Type)) probably provides more than sufficient precision, which would improve space and load/store efficiency.  Thanks @Garyfallidis for noting the Trako format. It clearly achieves good space and load efficiency. It seems weak on the simplic

[2020-08-05 13:07] Garyfallidis commented on #942
@jdtournier the support of tck is already available in nibabel and dipy. If your claim is to just use tck then the answer is that many labs are not satisfied with the tck format. If they were fine then we would just use tck.

The effort here is to find a format that will be useful to most software tools. Nonetheless, if you look into the current implementation you will see that the tractograms are

[2020-08-05 13:45] Garyfallidis commented on #942
My suggestion to move forward is that @frheault who has studied multiple file formats and found similarities and differences writes  down the specifications of the new format and send it over to the different labs and tools for approval and suggestions. It is important to show that in nibabel we have done the required work to study all or at least most that is out there and that the initial effort

[2020-08-05 15:02] neurolabusc commented on #942
@Garyfallidis, I agree with your view, that formats face a Darwinian selection, and therefore popular formats are filling a niche. However, your comment that `If your claim is to just use tck then the answer is that many labs are not satisfied with the tck format. If they were fine then we would just use tck` is the [fallacy of the converse](https://en.wikipedia.org/wiki/Affirming_the_consequent).

[2020-08-05 15:26] neurolabusc commented on #942
@jdtournier per your comment `Another issue that hasn't been discussed so far is the possibility of storing additional per-streamline or per-vertex information`, in TRK-speak these are properties (per-streamline) and scalars (per-vertex). Several comments have noted this as a benefit for the TRK-format. I take your point that voxelwise images (NIfTI, MIF) can provide an alternative method to compu

[2020-08-05 15:39] Garyfallidis commented on #942
@neurolabusc the main problem is speed for the TRK. It take long time to load/save big files. But there are also others. For example limitations on what parameters can be saved etc. @MarcCote and @frheault can you explain?

[2020-08-05 15:49] Garyfallidis commented on #942
Another issue is accessing specific parts of the file. Currently you there is no support for fast access of specific bundles or parts of the tractogram. Another issue is memory management. The trk does not have support for memory mapping or similar. Some of these files are getting too large to load fully in memory and for some applications it is better to keep them in a memory map.

[2020-08-05 15:51] francopestilli commented on #942
Hi Folks. I support the comments @Garyfallidis reported above. As the size of the tractography increase, we need to use a file format that allows partial loading of the data (say percentages of the streamlines).

[2020-08-05 15:54] jdtournier commented on #942
OK, obviously my vague attempts at humour have not gone down well. The main point of my message was to provide a list of the criteria that I would consider important for a standard file format. They happen to be mostly embodied in the tck format, perhaps unsurprisingly, and I'm being upfront about the fact that this is likely to be perceived as a conflict of interest - which clearly it has anyway.

[2020-08-05 15:55] frheault commented on #942
@neurolabusc I think the problem of TRK is related to efficiency when it comes to large datasets.
Selecting only a subset is not optimal (especially if you want a random one), reading is slow, controlling the size of the float (float16/float32/float64) is not possible. When doing connectomics it is impossible to have a hierarchical file that allows the saving of streamlines connecting pair of regi

[2020-08-05 15:57] jdtournier commented on #942
That's unfortunate, it's [documented here](https://mrtrix.readthedocs.io/en/latest/getting_started/image_data.html#tracks-file-format-tck). If you'd already come across this page but found it insufficient, please let me know what needs fixing!

[2020-08-05 16:11] neurolabusc commented on #942
@Garyfallidis I agree TRK is inherently slow to read. Interleaving the integer "Number of points in this track" in the array of float vertices is a poor design. Much better performance could be achieved if the integers were stored sequentially in one array and the vertices were stored in their own array. One could load the vertices directly to a [VBO](http://www.songho.ca/opengl/gl_vbo.html). This

[2020-08-05 16:18] francopestilli commented on #942
One additional comment here @MarcCote , @frheault and @jchoude

what is the status of this work?
https://www.sciencedirect.com/science/article/abs/pii/S1053811914010635

Should we discuss that here?

[2020-08-05 16:26] frheault commented on #942
@neurolabusc I think the 'complexity' of trk is from the fact that there is a thousand way to mess up the spatial transformation. Half of the trk I see have an identity affine rather than the affine of the nii it was generated from. And numerous element of the header are simply ignored in various software. But I personally think it is fairly simple ONCE you learn how to write the header properly.

[2020-08-05 17:06] neurolabusc commented on #942
@frheault your suggestion for features seems compelling:
 - Improve spatial transforms of TRK
 - Improve extensibility (including the desired but limited features of TRK, e.g. the property_name and scalar_name fields are both limited to just 10 items).

I would strongly discourage the use of HDF5. While the format might seem simple with the wrapper you are using, it will hinder adoption to other e

[2020-08-05 17:25] jdtournier commented on #942
🤣  yes, it could be argued that I value **Simplicity** a bit too much...

I wasn't, but that sounds like a perfectly sensible way to arrange the data for processing. Though I'm not sure it needs to be part of the file format itself. But it's certainly appealing for random access, etc. And as @neurolabusc mentions:

This would be a distinct advantage for rapid visualisation.

However, there is one

[2020-08-05 18:46] effigies commented on #942
Not doing diffusion, this is all pretty abstract to me, but I agree that random access + streaming appends is going to be hard to achieve in a single file format without some kind of allocation table or B-tree, which would require a coordination layer along the lines of libhdf5. I see two approaches that stop short of HDF5:

1) A good random access format with optional streamed frames appended. Th

[2020-08-05 19:11] effigies commented on #942
I would add a variant on option 1:

3. Split the data and header into two separate files, append frame headers to the header file and frame data to the data file. The need to defragment would probably remain, but the headers would not be intersperse within the data array. And accessing data might require reading a chain of frame headers, but you're likely to be able to do it with fewer cache misse

[2020-08-05 21:16] frheault commented on #942
Question for people using Matlab or c++ in general, is anyone aware of libraries in their own language that 'easily' support the Advanced Scientific Data Format (ASDF, https://asdf.readthedocs.io/en/2.7.0/)?

I think for c++ it is ok (https://github.com/asdf-format/asdf-cpp), but there is nothing in Matlab directly. It is a file format mentioned by Cyrille Rossant on his blog as a superior alterna

[2020-08-05 21:19] neurolabusc commented on #942
@effigies I do worry about file formats that use multiple files (e.g. file.hdr/file.img). It makes it easy for a user to accidentally lose one file from a pair or rename them so the association between files is lost. A further issue is with macOS (and perhaps future operating systems that develop sandboxing). With macOS when a user selects the file 'file.hdr' via drag-and-drop or the open file dia

[2020-08-05 21:29] effigies commented on #942
@neurolabusc To be clear, option 3 was not suggesting many files; just two. The header file would be a concatenation of frame headers and provide indices into the data file, which can also be appended to. But your point is taken with the brittleness of multi-file approaches.

I agree that a benchmark dataset would be very useful for focusing the discussion.

[2020-08-05 21:35] frheault commented on #942
@neurolabusc a file format written in such a way makes it impossible to read a chunk (except at the beginning) or to allows for hierarchical division.

I think that trk and tck will remain vastly use for a long time, for most use case I believe their functionality and speed is more than enough. However, I think that the 'fancy' big data feature mentioned at the beginning of the thread would requir

[2020-08-05 22:37] neurolabusc commented on #942
@frheault the format I propose has fixed size for each section, so you have fast random access to read data as blocks if the desired data is saved contiguously. This fully exploits the caching of modern IO. Consider a volume with 100 streamlines, and property 0 defines fibers 0-33 to be part of bundle 1, 33-40 to be part of bundle 2, etc. You can now read these. contiguous segments from the vertex

[2020-08-05 23:57] bjeurissen commented on #942
I am a **huge proponent** of storing the tractogram information in **world coordinates**.

I really feel a tractogram should be meaningful by itself without having to rely on a corresponding reference image.

Loading an anatomical data set and a tractogram, only to find out that the tracks were saved in voxel coordinates and can't really be used without the correct reference image, can really ruin

[2020-08-06 00:16] Garyfallidis commented on #942
@bjeurissen and all it is easy to see why this would be a bad idea even in world coordinates. Just make a 3d viewer and try to change the tractogram from neurological to radiological convention coordinate system in world coordinates. Then you will see that you really need information from the reference image to move from one coordinate system to the other. That could be easily be saved in the trac

[2020-08-06 00:26] matthew-brett commented on #942
@Garyfallidis - I'm never quite sure what people mean by 'neurological' and 'radiological' - https://nipy.org/nibabel/neuro_radio_conventions.html - can you explain more?

[2020-08-06 00:40] bjeurissen commented on #942
I fail to see why this would be a problem... Those kind of problems are exactly those that would stem from using voxel coordinates instead of world coordinates.

[2020-08-06 00:41] soichih commented on #943
I am also seeing a very slow streamline loading performance for tck as well. It looks like this part of the code is severely CPU bounded

[2020-08-06 02:42] Garyfallidis commented on #942
Ben, I mean that you need to know the volume_sizes to make these transformations from RAS to LAS (or LPS) even in world coordinates. Otherwise the transformations will not be accurate.

I hope Ben when we say world coordinates we mean the same thing. In world coordinates the origin is somehow in the center of the brain. Do you agree? Now the question is do you keep volume size either in world or n

[2020-08-06 03:54] Garyfallidis commented on #942
Let me say explain that if the origin in world coordinates it is not exactly on the center of the image which it will not be, you need to volume dimensions to translate correctly the image after any flip.

[2020-08-06 09:07] jdtournier commented on #942
I think there's confusion with what is meant by various terms. Even radiological/neurological is difficult to nail down exactly - for instance, in FSL, they often use the term to denote a left or right handed coordinate system respectively (I think I've got them the right way round...), which is basically what the `qfac` term in NIfTI encodes (the sign of the determinant of the transform). It's cl

[2020-08-06 09:18] matthew-brett commented on #942
Is there really a good case for enforcing that the points be *stored* in real coordinates?    This could be inefficient in space, if, for example, an int16 could store the voxel coordinates exactly.    What is the argument against at least allowing storage as voxel coordinates, with an associated affine, and possibly a bounding box?

[2020-08-06 09:37] jdtournier commented on #942
I'd like to second @neurolabusc's rough outline for a format [in this post](https://github.com/nipy/nibabel/issues/942#issuecomment-669516924) - this is more or less what I would have in mind here. It's easy enough to explain the format directly, without relying on 3rd party libraries to handle its internals. It can readily be memory-mapped (though I would additionally take steps to ensure word al

[2020-08-06 09:39] jdtournier commented on #942
Maybe I'm getting the wrong end of the stick here, but I've not come across any modern tractography package that stores streamline vertex positions as _integer_ voxel indices (?). Even if stored in voxel coordinates, everyone using floating-point anyway, right...?

[2020-08-06 09:41] jdtournier commented on #942
Can you expand on this? I don't understand the issue here. If we're talking about vertex positions, and we can trivially convert these positions between coordinate systems, how does interpolation come into it?

[2020-08-06 13:27] frheault commented on #942
From what I see it seems to have some conflict on intentions. At the very beginning, there was a desire mainly aimed on new advanced functionalities, simplifications, speed on big data, etc. Somethings were related to hierarchy, random access, chunk access, streaming at read/write, in-place modification, this requires pretty complex file format. Kind of like PNG is not suitable to store GoogleMaps

[2020-08-06 14:09] Garyfallidis commented on #942
@jdtournier initially we had only offsets.  Then we saw that if we keep the lengths too it makes it much easier to copy parts of the tractograms to new tractograms. @MarcCote can you elaborate?

[2020-08-06 14:11] Garyfallidis commented on #942
Also I see many questions here.  Apologies, I have a grant deadline in a few days. Will be back on this after August 12.

[2020-08-06 14:13] frheault commented on #942
Both can be obtained from the other. Offsets is just a cumsum of the lengths array and the lengths are just a gradient of the offsets array. Only one is needed, but lengths are more 'human-readable'. Having both save a tiny computation, having one save NBR_STREAMLINES integer.

I think this can wait :P

[2020-08-06 15:39] francopestilli commented on #942
I think this discussion is helpful.

Perhaps we could try to organize the conversation by adding your wanted features for the Tractography File Format to the following list?

WANTED FEATURES:
- Coordinate system
- Compression
- Ability to store streamline groups
- Ability to store properties by streamline group
- Partial loading
- GPU compatibility
- Add additional ones here

Please edit the above

[2020-08-06 16:48] jdtournier commented on #942
Thanks @francopestilli, this is great starting point. And thanks @frheault, you're right that it's not clear which specific need this new file format would address. I'll expand on @francopestilli's list and order the features in terms of increasing complexity (at least as far as I can tell).

Overall, I'd favour the 'why not both' option, if it can be done with a sufficiently simple format that ca

[2020-08-06 18:04] frheault commented on #942
@jdtournier I think that if we all accept to drop
- Ability to add/delete/modify data in-place
- Support for data streaming (Unless we allocated an upper limit, stream at specific pointers position, then copy chunk at the time at the moment of resizing/saving, which is technically possible, but outside of the scope of the file format OR having no data per streamlines/points and no grouping)
- Hier

[2020-08-06 20:25] neurolabusc commented on #942
I have created a new [repository](https://github.com/rordenlab/TractographyFormat) that examines the performance of different formats:
 1. TRK and TCK embed line lengths in the same array as the vertices. As noted by @jdtournier this is nice for initial creation of tracks, where the number of streamlines is not initially known.
 2. Legacy and XML-based VTK formats explicitly list vertex position a

[2020-08-06 21:04] bjeurissen commented on #942
@Garyfallidis  IMHO, these are all issues that have no bearing with a fiber tracking format but come down to correctly or consistently loading 3D medical images into the viewer.

If you have a tool that needs track points in voxel coordinates corresponding to a particular image, all that is needed is to multiply the world coordinates with the world-to-voxel transform,  and problem solved. And the

[2020-08-07 11:10] neurolabusc commented on #942
I agree with @bjeurissen and @jdtournier that the tractography format can simply true store world coordinates, as long as we choose a convention. I would suggest [Talairach-Tournoux rather than DICOM](https://www.nitrc.org/plugins/mwiki/index.php/dcm2nii:MainPage#Spatial_Coordinates), e.g. moving rightward with increasing X, moving Anterior with increasing Y and moving Superior with increasing Z.

[2020-08-07 11:50] Lestropie commented on #942
Sorry for being late to the party; just the discussion to start when I finally take some annual leave... Have discussed a little in the @MRtrix3 team, and thought about how such a proposal may eventually fit in with the BIDS Diffusion derivatives, though the scope of the latter has been reduced to just diffusion models so taking on tractography in that context is still a little while away yet.

A

[2020-08-07 12:16] neurolabusc commented on #942
If I were to design a format from scratch, it would look like what is below.

- Beyond the header, each tag is optional, in other words you can have a file that only includes the per-vertex scalars, without the vertices themselves. Therefore, one could load a tractography and apply separate files as overlays that define properties of the vertices for the loaded tractography.
 - Beyond header, tags

[2020-08-07 14:56] frankyeh commented on #942
I would also vote for extending TCK largely because DSI Studio already
supports it, and TCK is more likely to be extensible than TRK.
For other special needs, a new format can always be implemented, and
TCK can serve as a bridging format. I don't think there exists a
format that can meet all the requirements mentioned in this thread.

Furthermore, I would suggest using "tck.gz" just like "nii.gz"

[2020-08-07 15:42] frheault commented on #942
I am not sure how I feel about allowing data-per-something without saving streamlines. I say this because this kind of allows for inconsistencies in the files, unless there is a way to know it is a data-per-something only file (like putting a warning tag).

Also about @neurolabusc format example, I would rather see all tables at the very beginning than in-between section. Since we allows for tag n

[2020-08-07 16:05] neurolabusc commented on #942
@frheault as you note, I prefer having each tag as a self-contained, modular element, rather than described in the header. This allows files to be concatenated easily, and each tag contains all that is needed to read it. It has no penalty on read speed - if you do not support a tag, just seek to the start of the next one. All the large data segments can be loaded with a single contiguous block rea

[2020-08-07 16:11] frheault commented on #942
@neurolabusc Thank you for the answer! I also assume it is equivalent to read-skip-read-skip-read-skip-read while keeping "bookmark" on where each data start/end to support lazy-loading. So once all the header/tables have been read a user could request a block of their choosing OR even request the second kind of metadata of a particular streamline?

I ask this, because it is directly related to so

[2020-08-07 16:36] neurolabusc commented on #942
I concede that due to disk and memory caching there is a performance benefit for a unified header at the start of a file, rather than using seeks to traverse a file.  I would be happy to re-write my format for. a unified header at the start with offsets to the raw data (just like TIFF).

However, writing a format was more an exercise in thinking concretely about the data required. I think now is t

[2020-08-07 16:50] frheault commented on #942
Maybe I'm misunderstanding what you mean by 'extend' when you say "since that is extensible, simple and widely supported."
The "widely supported" part specifically, do you mean we should try to make it backward compatible or that people would easily accept a TCK update?

@Lestropie @jdtournier may disagree (I don't want to talk for them), but it doesn't seem to me like this new design would be 'in

[2020-08-07 23:53] Lestropie commented on #942
I think what we might need is a shared document where we can more completely flesh out the different alternatives that people have in mind, discussions around the nuances of each format can be discussed within the context of that format, and we can then balance the pros and cons of each alternative. A purely linear discussion format is likely to get people talking cross-purposes or interpreting te

[2020-08-08 12:48] francopestilli commented on #942
Great Idea, as often @Lestropie how about this one:
https://docs.google.com/document/d/1GOOlG42rB7dlJizu2RfaF5XNj_pIaVl_6rtBSUhsgbE/edit?usp=sharing

Open to everyone for comments. I will start structuring given the previous comments and replies, but please feel free to edit as needed. Use suggesting mode if changes are substantial.

[2020-08-08 13:47] Garyfallidis commented on #942
I am sorry this is going exactly the opposite direction from where it should go. What we are supposed to do is to work with many software projects and propose a new format that adds many exciting features and will accommodate most user needs and for long time.  As it happened with the nifti format, many projects came together to get this done. We need to do something similar.  So please stop pushi

[2020-08-08 13:56] francopestilli commented on #942
hi @Garyfallidis can please invite more folks here to pitch in. [The document is still pretty much an empty slate](https://docs.google.com/document/d/1GOOlG42rB7dlJizu2RfaF5XNj_pIaVl_6rtBSUhsgbE/edit?usp=sharing). So we can work together on crafting what we need right?

[2020-08-08 14:04] Garyfallidis commented on #942
Will invite more people after Wednesday as I am working now on a grant deadline.  The others should be happy to invite more people. For now I would remove any reference to specific software from the document to show that you want to hear other voices too. Use generic header names etc.  Also let's forget about backward compatibility with older file formats. This discussion is for a new file format

[2020-08-08 14:17] Lestropie commented on #942
The document as it stands at this moment is pretty `.tck`-heavy. But this is precisely what I had hoped such a document would expose: that different people were getting increasingly confident about increasingly discordant ideas. What the document needs is clear separation between details on existing formats, a list of desirable features of a new format, and then different conceptual designs each d

[2020-08-08 17:30] neurolabusc commented on #942
@Garyfallidis I have no intention to co-opt this topic. Anyone is free to introduce other ideas. I also agree that we should not be beholden to existing formats. I simply described how I think tck could be extended. I have no prior experience with this format, but it did have some nice properties.  @frankyeh espoused working with it. @frheault noted the benefits of having a unified header at the s

[2020-08-08 19:00] neurolabusc commented on #942
@Lestropie I have updated the document to only really describe TCK in a section where I propose how TCK could be extended. Originally, I had simply copied @frankyeh's comment as preferring TCK, and I do think this colored the tone to suggest that was the only format being considered. I have changed this to note that some prefer using existing formats to the full extent possible. The remaining refe

[2020-08-10 18:37] jdtournier commented on #942
I agree that the discussion should not focus on extending a current file format, whether tck or anything else. Furthermore, even if for some reason there is a decision to extend the tck format (which I'm not sure I would support, personally - I think we can do better), I don't think it would be wise to call it that - it would be a different beast, and we'd likely want to make a clean break with pa

[2020-08-10 20:51] jdtournier commented on #942
Just one more thought if I may.

I've raised this before, and @Lestropie has also re-iterated the point: in many ways these datasets might be more easily handled as a set of separate files, ideally co-located within a folder - at least conceptually. But ideally, we also want a single file format to maintain integrity, avoid confusion, reduce scope for errors, etc. I think there's a way to have the

[2020-08-11 13:00] neurolabusc commented on #942
Sounds like a good plan. Several [NiBabel users have noted very slow tractography load times](https://github.com/nipy/nibabel/issues/943). In this thread, members of the DiPy team (e.g. frheault) have suggested investing time into supporting formats that allow random access, memory mapping and efficient storage of ragged arrays. I have written a simple Python script that allows TCK files to be loa

[2020-08-11 13:24] frheault commented on #942
@jdtournier Do you think that the features I laid out in `4.2 hypothetical format #1 (.tgy)` of the GDocs documents could be applied to your suggestion? I actually like the simplicity of a file format that is actually a zip container. To me, that's a simpler equivalent to the ASDF container I mentioned earlier, but simpler is better so I like your suggestion more.

It also makes data streaming muc

[2020-08-11 14:59] jdtournier commented on #942
I have to admit I'd not had the time to go through that document in detail - but it seems to reiterate many of the themes discussed so far.

I've had a look at your section 4.2, and I really can't see any reason why there would be any incompatibility. As long as there's agreement that the different independent pieces of information will be stored as independent, separate entities, then ZIP will pr

[2020-08-11 15:53] frheault commented on #942
@jdtournier Perfect, I won't create a new section. It is true that they are pretty compatible.
I did some test in python and it is fairly easy to implement with zipfile/numpy/json library that everyone has.

About the `.tgy` extension it was simply to put emphasis on "new file format" rather than re-using an old one. It was a suggestion at the same time as a placeholder (tractography -> tgy).

Als

[2020-08-11 17:32] jdtournier commented on #942
I've added a few comments to the Google document - see what you think. I hope the discussion doesn't get too fragmented with these disparate discussions...

Yes, such conventions would be needed, and they'd need to be very specific.

On that note, if I can make a suggestion regarding the naming conventions. I've raised the issue of where & how to store the metadata for the additional per-vertex or

[2020-08-11 18:14] frheault commented on #942
@jdtournier choosing the file extension is the hardest part `.trx` look good (Though I prefer pronouncing it  or T-Rex ;) )

I like your idea of having the filename convention telling us most of the information.
Even the grouping could be done with something as simple `groups/bundle_cst.indices`
I think a 0.1 - 0.5 second of going through the directory tree of the zip file and parse it is low enou

[2020-08-11 20:55] jdtournier commented on #942
@frheault, glad you're on board - but let's make sure all the relevant stakeholders are on board before taking this much further. We don't want anyone getting the impression decisions have already been taken before they've had a chance to respond!

Exactly - though I'd make sure the file extension used is one that has been agreed and unambiguously identifies the data type (`.u32`, short for `uint3

[2020-08-11 21:08] francopestilli commented on #942
thanks @jdtournier @frheault I invited others to pitch in (via email), hopefully, they will. It is summer in aCOVID-19 infested earth somehow. But I am very impressed with the discussion here. I understand many will have to pitch back in before we can start organizing back the thoughts of the community. Thanks for all the contributions!
@soichih @dPys @sebastientourbier @eduff @ssothro

[2020-08-11 21:25] frheault commented on #942
@mdesco is on vacation right now, but I updated him on the side. The feature I listed would meet his expectation, if we can achieve what I listed in section 4.2 I think it is safe to say he would be onboard.

@jdtournier Yeah that's true I forgot zip does some magic with its own header. +1 for the datatype directly in the indices filename)

Anyone new should focus on the features listed in https:/

[2020-08-19 09:48] fepegar opened #945 "What's the difference between nib.save and nii.to_filename?"
If I do

[code]

Then

[code]

works, but

[code]

raises an error:

[code]

as pointed by @GFabien in https://github.com/fepegar/torchio/issues/266#issuecomment-673359112.

I always thought these two methods to be equivalent, as no difference is pointed out in the [getting started](https://nipy.org/nibabel/gettingstarted.html) docs.

Maybe related to #107.

[2020-08-19 09:57] matthew-brett commented on #945
No - not related to #107.  The problem here is that `to_filename` is a object method, and the object relates to a single-file NIfTI, which has file output of `.nii` or `.nii.gz`.  The single-file NIfTI object doesn't know how to save files in other formats, including two-file NIfTI.  In contrast, `nib.save` has the logic for converting the image into any chosen file type, as identified by the exte

[2020-08-19 10:19] fepegar commented on #945
I see, thanks. If `nib.save` does some implicit magic to convert the image, why doesn't `to_filename` do the same thing? Maybe this should be clearer in the docs, as they seem to be the same thing in the page I shared above. I'm happy to contribute.

[2020-08-19 10:25] matthew-brett commented on #945
No magic only because the intention of the `to_filename` method is for the
user to be able to force saving in a particular format.  For example,
`.img` could also be SPM format Analyze.  The user can force this by using
an SPMAnalyze object instead.

Yes, it would be great to have some help with the documentation, if you
have time.

[2020-08-19 10:29] fepegar commented on #945
How can I help? A footnote in `Getting started` seems not to getting-started friendly.

[2020-08-19 10:38] matthew-brett commented on #945
At a first pass, just removing `to_filename` from Getting started would be
good - the method is a little advanced.  Then maybe, if you are interested,
a better error message ...

[2020-08-20 22:39] frheault commented on #942
Hello again, just to re-start some form of discussion about the potential new file format.
In order to make sure the list of features was achievable (in python) using the nomenclature proposed by @neurolabusc and @jdtournier I wrote some code that load/save the `trx` present in the attached file. I can load->save->convert them to tck/trk.

For now, it is quite rudimentary but I think the suggested

[2020-08-24 14:13] #945 closed

[2020-09-03 12:59] effigies opened #950 "Recent deprecations"
Pre-release [builds](https://travis-ci.com/github/nipy/nibabel/jobs/380411702) reveal `np.float`, `np.complex`, `np.int` are deprecated aliases to builtin `float`, `complex` and `int`.

We can switch to using the builtins directly with no consequence. It might also be worth looking at whether a more precise type (e.g. `numpy.float32` where `float` will typically be interpreted as `numpy.float64`)

[2020-09-08 19:25] effigies opened #951 "Dig out distutils"
[PEP 632](https://discuss.python.org/t/pep-632-deprecate-distutils-module/5134/) is proposing deprecating distutils. While the PEP and therefore schedule are not finalized, it is clear that `distutils` has been unmaintained for years and is destined to be removed.

I think we only use it for `nisext` and `distutlis.version`. Probably worth declaring `nisext` deprecated, as it is also unmaintained,

[2020-09-11 09:51] tanjia123456 opened #953 "extract information from surf/rh.thickness and so on, then create a feature matrix"
Hello, my subject is brain parcellation. Now, I need to create a feature matrix(N*D) by six features from bert/surf/rh.thickness sulc curv area volume jacabian_white. But, I don't konw how to do.  In my oppion, first step,extract the six feature according the vertices. Second step, make a feature matrix by the extracted information.
By the way, the N is number of the node(vertices) and D is the nu

[2020-09-11 13:40] effigies commented on #953
To load morphometry data, you can use [nibabel.freesurfer.io.read_morph_data](https://nipy.org/nibabel/reference/nibabel.freesurfer.html#nibabel.freesurfer.io.read_morph_data). This will return numpy ndarrays that can be stacked as needed.

[2020-09-11 14:36] effigies opened #954 "Use importlib over __file__ or runtime dependencies on setuptools"
Use of `__file__` makes a package unzippable. setuptools' `pkg_resources` permits packages to access data files whether zipped or unzipped. It turns out, however, that runtime dependencies on setuptools are considered bad form. Python 3.7 has introduced [importlib.resources](https://docs.python.org/3/library/importlib.html#module-importlib.resources), and there's a backport [importlib-resources](h

[2020-09-12 12:11] tanjia123456 commented on #953
I have tried it by myself.
`import numpy as np

def read_morph_data(filepath):

    with open("rh.thickness", "rb") as fobj:
        magic = _fread3(fobj)
        if magic == 16777215:
            vnum = np.fromfile(fobj, ">i4", 3)[0]
            thickness = np.fromfile(fobj, ">f4", vnum)
        else:
            vnum = magic
            _fread3(fobj)
            thickness = np.fromfile(fobj, ">i

[2020-09-14 07:05] tanjia123456 commented on #953
I have solved my problem, Thank you very much!

[2020-09-14 07:20] tanjia123456 opened #956 "some command to template to fsaverage5"
hello, I'm sorry to bother you. do you know how to template the /bert/surf to fsaverage5?
My subject is to use vertex , feature ,label and so on to create a matrix.
but,the number of vertex is too large to create a adj_matrix, so there's a memoryerror.

The template operation is to generate surf files for freesurfer processing, mainly rh.white rh.annot rh.thickness in the surf folder.
I have knowe

[2020-09-15 01:06] #953 closed

[2020-09-15 20:13] effigies commented on #956
The FreeSurfer mailing list (https://mail.nmr.mgh.harvard.edu/mailman/listinfo/freesurfer) is a better place for help with FreeSurfer tools and data structures.

[2020-09-20 13:41] effigies commented on #907
These have all been taken care of.

[2020-09-20 13:41] #907 closed

[2020-10-13 12:57] alecrimi opened #959 "Trackvis header saved with Dipy (nibabel) is not read by Matlab or other tools"
## Description
I am having issues loading some information from tracts saved by Dipy from Matlab or other things that need certain informations on the header
Dipy  0.16.
Nibabel  2.5.2

I use the library nibabel:
[code]

and I save the tracks like this
[code]

one of the missing field which is very important to me is "n_count"
the command `len(csd_streamlines)` produces a real integer number, and

[2020-10-13 14:28] skoudoro commented on #959
Hi @alecrimi,

As we can see [here](https://github.com/nipy/nibabel/blob/30c0bc561e0f34763c415a3fdc2b39cf0789a4ea/nibabel/streamlines/header.py#L10), it seems that the field `n_count` became `nb_streamlines` with the new streamlines API. it could be one reason.  Concerning the why, I think @MarcCote or @frheault will have more answers.

In any case, we need to update this point

[2020-10-13 16:52] alecrimi commented on #959
'''
File "tract.py", line 74, in <module>
    hdr['nb_streamlines'] = 300 #len(csd_streamlines)
ValueError: no field of name nb_streamlines
'''
I don't think this is the way

[2020-10-16 19:21] #956 closed

[2020-10-16 19:22] #940 closed

[2020-10-17 07:23] tanjia123456 opened #961 "read .annot file error"
Hello, I updated the label of each vertex through an algorithm. The purpose is to replace the updated labels_id with the labels_id in the .annot file, but the problem now is that I open the .annot file with Notepad and it is garbled. Do you know how to solve it

[2020-10-18 13:29] effigies commented on #961
To the best of my knowledge, FreeSurfer `.annot` files are binary, and I would generally not expect them to be visible in `Notepad`. Would you be interested in sharing a before and after, to demonstrate the issue?

[2020-10-19 06:52] tanjia123456 commented on #961
my honor

[2020-10-23 02:09] tanjia123456 opened #962 "IndexError: arrays used as indices must be of integer (or boolean) type"
hello, I'm sorry to bother you again
when I use the following code to read and wtite annotation file:
`import warnings
import numpy as np
import getpass
import time

from collections import OrderedDict
#from ..openers import Opener

_ANNOT_DT = ">i4"

def read_annot(filepath, orig_ids=False):
    """从.annot文件中加入Freesurfer注释。.annot文件包含带有标签的一系列顶点（也称为
     作为与每个顶点相关联的“注释值”），然后是一个序列每个标签对应的颜色。支持注释文件格式版

[2020-10-23 02:11] tanjia123456 commented on #962
Running it again will cause the following error

Traceback (most recent call last):
  File "C:/Users/hp/Desktop/full_supervised/annotation_visual1/read_nibeal_annot1.py", line 229, in <module>
    read_annotation=read_annot('rh.aparc.a2009s.annot', orig_ids=False)
  File "C:/Users/hp/Desktop/full_supervised/annotation_visual1/read_nibeal_annot1.py", line 42, in read_annot
    data = np.fromfile(fo

[2020-10-23 03:09] #962 closed

[2020-10-29 13:58] MarcCote commented on #959
Hi @alecrimi, it seems you are using the old trackvis interface. Let me know if that's not the case, but you should have seen a deprecation warning like

              "in v4.0; please use the 'nibabel.streamlines' interface."

Can I suggest you to try @frheault's `StatefulTractogram` to save your streamlines to a TRK file? According to the [documentation](https://www.dipy.org/documentation/1.2.0.

[2020-11-10 21:26] effigies opened #966 "More helpful error messages when uncompressed file is passed with compressed extension"
We have a pretty one-size-fits-all error when we can't determine the file type:

[code]

A relatively common situation is an uncompressed NIfTI that got renamed `x.nii.gz`. It's fairly straightforward to identify data that isn't gzip or bzip2 by magic number, so we could help people out with a message like `File "test.nii.gz" is not a gzip file.`

[2020-11-13 15:50] effigies opened #968 "Numerical checks failing in pre-release builds"
Example: https://travis-ci.com/github/nipy/nibabel/jobs/434783290

[code]

First failures showed up about ~21 hours, so starting around November 12 @ 7pm UTC (2pm EST).

Have a successful build 3 days ago, and scipy has a nightly wheel out 2.5 days ago.

25.1 MB | \|                              scipy-1.6.0.dev0+20201111022934_2af2d98-cp38-cp38-manylinux1_x86_64.whl | 2 days and 13 hours ago | sci

[2020-11-13 16:08] larsoner commented on #968
This does look like it's likely due to one of your recent PRs @grlee77 . Can you look?

Glad you tests the `--pre` so we found this before 1.6.0 comes out in a couple of weeks!

[2020-11-13 16:29] grlee77 commented on #968
yes, I will take a look today

[2020-11-13 16:43] grlee77 commented on #968
I cannot reproduce locally with current SciPy master. I suspect this was fixed by the improvements to modes 'nearest' and 'constant' that were merged ~14 hours ago in scipy/scipy#12776.

If it occurs again on a newer nightly build, let's revisit the issue

[2020-11-13 20:27] frheault commented on #942
Hello everyone, just to keep the subject alive I did a small technological survey and tried out different approaches.
The two main contenders were using the Zarr library by @arokem and using a file structure based organization memmaps (possibility inside of a Zip file) by @jdtournier. I also tried on the side having a single gigantic memmaps with a fixed size header as well as trying out ASDF libr

[2020-11-17 20:36] tsalo opened #969 "Images from gzipped files cannot be copied if data have been read"
I am trying to deep-copy an object with a `nilearn` `NiftiMasker` as an attribute, and I'm coming up against an issue only when the `NiftiMasker` is derived from a `nii.gz` file (see https://github.com/neurostuff/NiMARE/issues/399 for more info). After doing some digging, I think that the problem arises on `nibabel`'s end, where an img from a gzipped file cannot be deep-copied when the data has be

[2020-11-17 20:46] effigies commented on #969
Does this reproduce when `indexed_gzip` is not installed?

[2020-11-17 20:51] tsalo commented on #969
No it does not. I can also avoid it with a workaround provided by @rmarkello:

[code]

[2020-11-17 21:10] effigies commented on #969
Okay, I'm going to cc @pauldmccarthy then. This looks like an unsafe deepcopy of `IndexedGzipFile`.

[2020-11-18 18:11] effigies commented on #968
I don't follow scipy comms closely, so not sure if they're aware that the latest nightly build only pushed 4 wheels? https://anaconda.org/scipy-wheels-nightly/scipy/files

[2020-11-21 17:08] neurolabusc opened #970 "bench_arrayproxy_slicing.py fails"
On both Linux and MacOS, downloading the latest version of nibabel generates failures with the command:
  time pytest -c ./pytest.benchmark.ini ./bench_arrayproxy_slicing.py

[code]

[2020-11-21 17:31] effigies commented on #970
Thanks, Chris.

Looks like I need to be more deliberate about checking benchmarks before releasing. `auto` was deprecated about a year ago. This:

https://github.com/nipy/nibabel/blob/591a1bd9cfb1d39b6834b5cf432fcbc8a76e3a7b/nibabel/benchmarks/bench_arrayproxy_slicing.py#L49

Should be:

[code]

Feel free to open a PR, or I'll probably just fix it in the prep for the next release.

[2020-11-21 17:36] neurolabusc commented on #970
Thanks for the rapid response Chris. It is great to have regression and benchmarking tests built in. I used these to evaluate the new ARM-based [Apple Silicon](https://github.com/neurolabusc/AppleSiliconForNeuroimaging). Everything works perfectly in translation. The performance will be even better once their is a native Fortran compiler for Numpy, Scipy, etc.

[2020-11-21 17:45] effigies commented on #970
Cool effort! I know numpy as ARM64 wheels for Linux, but I haven't looked at whether any distros have been tested on M1.

[2020-11-22 14:42] effigies opened #971 "Travis now limiting OSS builds"
Travis won't run until OSS credit builds for the nipy organization are replenished at some unknown time.

We may want to transition to GitHub actions.

[2020-11-23 22:43] effigies commented on #971
Making some progress: https://github.com/nipy/nibabel/actions?query=workflow%3A%22NiBabel+tests%22

[2020-11-28 19:20] sanjayankur31 opened #973 "Test failure: test_ascconv_parse"
Hello,

I'm seeing a test failure while building nibabel-3.2.0 on Fedora.

[code]

This is with python 3.9,  scipy-1.5.4, numpy-1.19.4.

[2020-11-28 19:55] effigies commented on #973
Yes, fixed in #963. I can release a 3.2.1 to make sure 3.9 is supported in a released version.

[2020-11-28 21:44] sanjayankur31 commented on #973
That'll be great. Thanks very much @effigies

[2020-11-28 22:21] #973 closed

[2020-11-28 22:22] effigies commented on #970
Should be fixed in 3.2.1.

[2020-11-28 22:22] #970 closed

[2020-11-30 15:54] francopestilli commented on #942
@skoudoro great!

[2020-12-02 14:39] amirshamaei opened #975 "need help: how nibabel stores complex number in NIFTI format?"
Hi all,
I was wondering how nibabel deals with complex numbers. I tried to store complex data with a nifti library in java, then import it using nibabel. the original data type is complex 64 which got stored in the first dimension(i.e 'x') (e.g imagine data is a time series 10 points and no spatial information; so the storage size is [2,1,1,10]).
when I load it in nibabel, it can identify the data

[2020-12-02 16:06] jchoude commented on #942
Hi all,

I know I'm late to the party, even if @frheault bugged me multiple times about it.

I'm still going through all the thread and the other related documents, but I still want to say that, to me,

- ease of extensibility (adding various data per point / streamlines, etc) is important in multiple academic and industrial use cases
- the ability to directly read a portion of the streamlines, wi

[2020-12-02 20:34] effigies commented on #975
This might be a problem where you're using `img.get_fdata()`, which will coerce to `float64` by default, losing the imaginary component. You should be able to use `img.get_fdata(dtype=np.complex64)` or `np.asanyarray(img.dataobj)` to get the data as it's encoded on disk.

[2020-12-03 00:23] amirshamaei commented on #975
@effigies  thanks. it helped. this issue has been solved.
*surprisingly when I am using complex128 the results are accurate as complex64.

[2020-12-03 10:21] matthew-brett commented on #975
Oops - yes - we should probably return complex here - don't you think?

[2020-12-03 10:45] emanuele commented on #943
Since I was requested a couple of times, I added the link to download the test file/tractogram in the github repo of our fast TRK loader (https://github.com/emanuele/load_trk.git): http://nilab.cimec.unitn.it/people/olivetti/data/sub-100206_var-FNAL_tract.trk . It may be useful for benchmarking.

[2020-12-03 12:53] effigies commented on #975
Yeah, I think detecting the `complex` case is worth doing. I think it's not uncommon to see `get_fdata(dtype=np.float32)` as people try to avoid a `float64` cast; what makes sense to do in that case? `TypeError` or "you probably know what you're doing"?

[2020-12-03 14:19] amirshamaei commented on #975
sorry for closing the topic  :)
It would be really nice to detect complex. I think spec2nii API uses nibabel as a backend for accessing nifti files; and spectroscopy imaging data usually has complex numbers.

[2020-12-03 14:25] matthew-brett commented on #975
@effigies - yes I think `dtype=np.float32` is a know-what-you're-doing case.   At least, if they read their own code, they shouldn't be suprised they got a float32!

[2020-12-04 10:25] baranaydogan commented on #942
Hi,

Unfortunately, I saw these discussions very late and missed the Dec 2 meeting. Hopefully, it was fruitful.

I believe a new tractogram format addressing the needs of the community would be highly useful. Thanks to all who has been active in this so far.

I would be happy to contribute in the discussions and development as well.

[2020-12-04 15:07] francopestilli commented on #942
hi @baranaydogan I am very sorry you missed this. It would be great to have you interact on this topic

[2020-12-05 00:44] effigies commented on #975
Currently the default `dtype=np.float64`. Going to need to think through a consistent logic to ensure that the input is respected while providing a way to say "give me the narrowest dtype that fits the data" or "give me the narrowest dtype that fits the data and the provided dtype".

For the first case, ideally we'd get:

| on-disk dtype | output dtype |
|--|--|
| int | float32 or float64, dependi

[2020-12-05 09:14] matthew-brett commented on #975
Oh - I was thinking only that, if the image-implied dtype was complex, we'd return complex128 by default, instead of float64, and we'd respect the explicit dtype whatver that was.

[2020-12-07 09:00] Spenhouet opened #977 "Convert DICOM to NIfTI with nibabel"
I would like to revive this feature request. It was already issued in 2015 here: https://github.com/nipy/nibabel/issues/303
At the time [dcmstack](https://github.com/moloney/dcmstack) was recommended. It combined functions of nibabel to perform this conversion.

dcmstack is no longer maintained (as stated [here](https://github.com/moloney/dcmstack/issues/71#issuecomment-669437175)) and already out

[2020-12-07 15:27] matthew-brett commented on #977
Well done for finding the grant application!    We're still finalizing start date - but yes - the plan is to get this done after by 3 months after the start date.  We'll get back to y'all soon on the list when it's clear what the start date will be.

[2020-12-07 15:28] matthew-brett commented on #977
By the way, @moloney was also part of the grant discussions, it's just he couldn't easily accept funding with the grant.   We are still planning to work closely with Brendan on the `dcmstack` port.

[2020-12-08 17:31] neurolabusc commented on #977
You may want to evaluate [dicom2nifti](https://github.com/icometrix/dicom2nifti). If your remit includes compressed transfer syntaxes, you will need to include some C libraries - dicom2nifti uses gdcmconv for those images.

I have a repository of [enhanced DICOMs](https://github.com/neurolabusc/dcm_qa_enh) for validation. I also have some much larger enhanced datasets I can share with you if neede

[2020-12-09 21:17] grlee77 opened #978 "nibabel plugin for napari?"
Is there interest in having a plugin for [napari](https://napari.org) that would allow reading the formats supported by nibabel?

I created a basic one a few months back that can read most image formats supported by nibabel (I did not implement DICOM). I don't expect to personally be able to spend much time developing it further in the near term, but would be happy to make this prototype available

[2020-12-09 21:35] effigies commented on #978
Cool, I hadn't heard of napari. Thanks for the pointer! If they prefer remotely-managed plugins instead of a gallery they control, I think nipy would be a good place to host it.

[2020-12-09 21:52] grlee77 commented on #978
I think the primary creators are from a microscopy background, so that has been their initial focus. It is nice that any additional dimensions beyond three spatial dimensions gets its own slider, so you can easily have 4d or 5d data with sliders for time, contrast, magnitude/phase, etc.

Aside from visualization, it is possible to have it perform computations interactively as demonstrated recently

[2020-12-10 06:40] jni commented on #978
Yeah, we definitely want a distributed approach to this!

![responsibility](https://media1.tenor.com/images/5ae4898b506836528350f59f8b24e9ea/tenor.gif?itemid=5012106)

We'd absolutely love to see a nibabel plugin! In fact I used one of the nibabel example datasets in my SciPy Japan talk on napari! Please use the `Framework :: napari` trove classifier so that we can autodiscover the plugin on PyPI!

[2020-12-10 21:15] grlee77 commented on #978
Sounds like it would be best to host it here, then. If someone can create a `napari-nibabel` repository for me to upload what I have so far, that would be great.

We can mark the repo as experimental in the README and wait until it is a little more mature before putting anything up on PyPI.

[2020-12-10 21:47] effigies commented on #978
@grlee77 I've invited you as an organization owner and you can set things up how you like. (If you'd rather not be, let me know and I can set up the repo.)

[2020-12-11 04:21] grlee77 commented on #978
Great, I have now [created a repository](https://github.com/nipy/napari-nibabel). The following formats can be opened:
NIFTI1, NIFTI2, ANALYZE, Philips PAR/REC, MINC1, MINC2, AFNI BRIK/HEAD and MGH/MGZ

Here is a screenshot of a volume rendering of [some PAR/REC phantom data](https://github.com/grlee77/parrec_oblique/tree/master/NIFTI) that is used by nibabel's tests:
![napari_phantom](https://use

[2020-12-11 04:36] arokem commented on #978
This is cool! And has a lot of potential. Would you mind posting the code
you wrote to produce that image?

On Thu, Dec 10, 2020 at 8:21 PM Gregory R. Lee <notifications@github.com>
wrote:

[2020-12-11 04:45] grlee77 commented on #978
If you have napari, you can install from the plugin from the repo (it is not yet on PyPI)

`pip install git+https://github.com/nipy/napari-nibabel`

I then just called `napari 3D_T1W_trans_35_25_15_SENSE_26_1.nii` in a terminal to open the image file in the GUI. In the GUI it starts out in a 2D view, but if you click on the 2D vs. 3D icon (2nd from bottom left), it will switch to a 3D view. Then i

[2020-12-11 04:49] grlee77 commented on #978
Also the entirety of the plugin is in this one, short file so it should be pretty simple to modify going forward:
https://github.com/nipy/napari-nibabel/blob/main/napari_nibabel/nibabel.py

I also added some basic tests which currently rely on specific paths within nibabel. If those are likely to remain stable over time then we can keep it that way and avoid keeping duplicate copies of the test fi

[2020-12-11 04:59] arokem commented on #978
Yep. That works!

<img width="1200" alt="Screen Shot 2020-12-10 at 8 59 15 PM" src="https://user-images.githubusercontent.com/118582/101865243-9cc8c280-3b2a-11eb-894f-1a5b7889557b.png">

[2020-12-12 01:22] jni commented on #978
For future stumblers-upon-this-issue, this should work (more or less, not checked for typos):

[code]

[2020-12-12 01:22] jni commented on #978
Thanks @grlee77 for getting this started, it's super exciting!

[2020-12-12 11:24] pwrightkcl opened #979 "Loading RGB data gives 'invalid type promotion' error"
I am working with clinical data that includes a wide range of image types. When I encounter an image with RGB data, for example a screenshot, nibabel fails to load the image data. I am able to view the image in MRIcron.
Steps to reproduce:
[code]

[2020-12-12 11:40] matthew-brett commented on #979
I was expecting more to the traceback there.

The problem is that you're asking for floating point data (with `get_fdata`) on the image dtype which is the RGB thing, and we hadn't considered that.

For the immediate case, you could use:

[code]

For us - we have to consider what `get_fdata` should mean for an RGB image - and what the scalefactors should mean in this case.  Most obvious would be to

[2020-12-12 11:52] pwrightkcl commented on #979
That was the complete traceback (except my username changed to 'me'). For my current purpose, I just need to test that nibabel can read data from the file, so this works fine.
Nice to know you're still out there, Dr Brett, being a force for good in the world. [Remember working on DTI spiking artefacts for Lolly?]

[2020-12-12 15:17] effigies commented on #979
From the little experience I have with RGB(A) images, I would probably either want a tuple of 8-bit ints or floats between 0 and 1. If memory serves, all operations I coded were basically wrapped in a (uchar -> percent luminance -> uchar) sequence except when the math was provably identical on integers. I believe matplotlib expects users to provide color data as floating points between 0 and 1, so

[2020-12-16 13:32] neurolabusc commented on #4
This seems related to [issue 977](https://github.com/nipy/nibabel/issues/977). Each of these repositories provides exemplars of particular types of DICOM (`in`) image as well as what is deemed as correct NIfTI translations (`ref`). The included shell script uses dcm2niix to translate the images (`out`) and tests that json is valid and the NIDS/NIfTI files match the reference images. This could eas

[2020-12-18 16:55] pauldmccarthy commented on #969
@effigies @tsalo apologies for missing the ping on Nov 17 - I must have had a blind spot when it hit my email inbox! Will resolve this over at pauldmccarthy/indexed_gzip#50 ..

[2020-12-18 18:12] effigies commented on #969
I think I'll close this here, since it's being tracked in NiMARE and fixed in indexed_gzip.

[2020-12-18 18:12] #969 closed

[2020-12-19 20:16] TomMaullin opened #981 "`Too many open files`: Cannot close a file"
I have written the below function which I use to:

 1. Check if a Nifti exists named `fname`. If it does exist the function reads it into memory and if not it initializes the file `fname` as an array of zeros with dimension `dim`, affine `aff` and header `hdr`.
 2. It then replaces the voxels in the image which have indices `blockInds` (in flattened/1d form) with the values stored in `block` and s

[2020-12-20 00:32] yarikoptic opened #982 "tripwire backfires in debian stable environment: test_basic fails"
building backport for debian stable and this only test fails on me:

[code]
not familiar with that tripwire and how `Exception` should have become a TripWire error.   Test passes fine on more recent systems.  Here we have pytest 3.10.1 and python 3.7.3-2+deb10u2 .

any clues on how to make test more resilient  or is there a real issue revealed here?

[2020-12-20 00:45] effigies commented on #982
Can you describe how to produce an environment that reproduces this?

[2020-12-20 01:37] yarikoptic commented on #982
very original one would be the one following elderly http://neuro.debian.net/blog/2012/2012-04-14_ndtools.html

I've reproduced in docker so smth like `docker run -it --rm neurodebian:nd100` in which you do

[code]

[2020-12-20 15:58] effigies commented on #982
Okay. It looks like pytest is monkeypatching some deep Python internals, and there are function-local imports inside their code that are triggering this mocked `__import__`.

The simple solution would be to allow any `_pytest` import to pass through, just like `unittest`, but that also feels a bit fragile, since they could add other imports later. Maybe we can make the mock more targeted.

[2020-12-20 16:05] effigies commented on #982
This patch should work:

[code]

How far back should we patch?

[2020-12-20 17:11] effigies commented on #982
This was originally written for `nose`, not `unittest`/`pytest`, so I don't think we need to backport all the way to 2.5.x, so just 3.2.x.

[2020-12-20 17:54] effigies commented on #981
Looking at this, I'd guess that your problem is `os.open(fname + ".lock", os.O_CREAT|os.O_EXCL|os.O_RDWR)`, which opens a file and never closes it.

I might consider using a file locking library like [filelock](https://pypi.org/project/filelock/) to take advantage of somebody else already thinking through the problem.

[2020-12-20 18:22] TomMaullin commented on #981
Perhaps this could be the cause... I believe the filelock code I used was adapted from the [FileLock package](https://github.com/dmfrey/FileLock) though. I am still unsure how can I uncache the `nifti` file in the above code?

[2020-12-20 18:48] effigies commented on #981
It seems pretty thoroughly uncached. But logically, if you're able to open a nifti file, then you'll be able to open the next lock file. So you'll hit your open file limit on a nifti file.

[2020-12-20 20:25] yarikoptic opened #984 "AttributeError: 'PosixPath' object has no attribute 'lower'"
Building backport for debian stable (buster) with python 3.7 leads to test_copy_header to error with

[code]

[2020-12-20 20:27] yarikoptic commented on #982
while in that environment, although more trivial - transferred another issue from nipype: https://github.com/nipy/nibabel/issues/984

[2020-12-20 20:29] effigies commented on #984
What version of nibabel? `nibabel.load` should handle `pathlib.Path`s as of 3.0.

[2020-12-20 20:41] effigies commented on #984
Looks like the problem is that test in nipype assumes nibabel 3+, but nipype's [minimum nibabel is 2.1](https://github.com/nipy/nipype/blob/1.6.0/nipype/info.py#L101).

[2020-12-21 13:01] TomMaullin commented on #981
Yes that makes sense - thank you!

[2020-12-21 13:01] #981 closed

[2020-12-21 13:44] yarikoptic commented on #984
oh right -- I have missed that I did not have 3.x yet there, my bad, thank you @effigies !

[2020-12-21 13:57] effigies commented on #984
Going to move this to nipype, since it is a dependency issue there. There is nothing to do in nibabel, since there is no plan to backport Path support to 2.5.x.

[2020-12-26 03:27] #982 closed

[2021-01-02 00:43] gattia opened #985 "Echo Time Slice - Par Rec"
Hi,

nibabel sorts images based on slice as well as secondary outcomes (e.g., echo time TE). Is this information (the actual TE (ms)) stored in the header anywhere?

Thanks!

Anthony.

[2021-01-02 00:53] gattia commented on #985
As I play around with the data, I noted that the header has a property `image_defs` that appears to be the length of the slices (n_slices * n_echos) and has 41 values (or arrays, or strings) per slice. So, I am guessing that this is all of the information that I am looking for. However, I cant find where exactly each of these 41 values are defined.

I'll look around some more and report back if I

[2021-01-02 20:30] gattia commented on #985
So, looks like there is a function:

`nib_image.header.get_def()`

If you pass this a string it will return the values for that parameter for each slice. The Ones that I was looking for were:

`echo number`
`echo_time`

e.g.,
`nib_image.header.get_def('echo_time')`

returns the echo times for each of the slices. This solves my problem. However, I couldn't find anywhere to actually get the list of

[2021-01-02 21:05] effigies commented on #985
If we look at the definition for `get_def()`:

https://github.com/nipy/nibabel/blob/a7e94d6394b12424a3b0f51b1cd2c9ce39aac6cd/nibabel/parrec.py#L841-L844

It looks like these are named fields in a numpy array that you could query with `img.header.image_defs.dtype.names`. A bit of following references shows:

https://github.com/nipy/nibabel/blob/a7e94d6394b12424a3b0f51b1cd2c9ce39aac6cd/nibabel/parre

[2021-01-02 21:52] spolcyn opened #986 "Concat_images result not consistent between load/save cycles"
**Describe the bug**
After using `concat_images` to concatenate two NIfTI images, then saving the new image to disk and loading it back into memory, the values of the data arrays are no longer equal.

In my case, the source and destination NIfTI file both have `uint16` data, so there should be no issue in floating point loss, and any conversions to `float32` or greater along the way should not res

[2021-01-02 23:13] gattia commented on #985
Thanks @effigies! This is perfect and exactly what I was looking for.

It might be useful to include this somewhere in the documentation. I could open another issue, or potentially look at making a pull request. This seems like useful/necessary information for many purposes (e.g., Im making T2 maps from multi-echo sequences) and while I totally follow what you wrote/how you got to it, even finding

[2021-01-02 23:13] #985 closed

[2021-01-05 12:27] effigies commented on #735
Python 2 support has officially elapsed. If someone is interested in continuing to maintain the 2.5.x series, please get in touch.

[2021-01-05 12:27] #735 closed

[2021-01-05 16:24] jond01 commented on #977
Hi, I just wanted to let you know about the [medio](https://github.com/RSIP-Vision/medio) python package where we handle dicoms (also multiframes) and niftis. We use there pydicom, itk and dicom-numpy for dicoms and nibabel (of course) for niftis. I guess you will find some of medio's functionalities useful.

I would like to help in nibabel's dicom effort! Is there a main issue/plan for this?

[2021-01-05 19:23] LeonMpunkt opened #989 "read_annot inconsisten when using aparc"
Hi,

I cannot get a solution, so I'll try it here.
When I load the .aparc.annot file I have the impression that my labels are not right anymore.

subject_id = "fsaverage"
hemi = "lh"
aparc-file = os.path.join(subj_dir,
                                subject_id, "label",
                                hemi_rh + ".aparc.annot")

labels, c, n = nib.freesurfer.read_annot(aparc_file)

When I run a Co

[2021-01-05 19:44] matthew-brett commented on #977
Thanks for the comments - it would be great to have help.  My own preference is for making the DICOM analysis be in Python as far as is practical, and to avoid big dependencies - if possible.    I would like to make sure we have as much as possible in Python so that it's more obvious how to modify the code to new DICOMs, and therefore, to contribute.

I am sure you're right Chris, that we'll need

[2021-01-05 19:54] effigies commented on #989
Are you getting different results when opening with FreeSurfer tools? If not, then it's unlikely something to be something nibabel can address.

If you're using a hemisphere, then I assume these are surface annotations. It does not seem unreasonable for surface files to lack ventricles: https://surfer.nmr.mgh.harvard.edu/fswiki/FsTutorial/AnatomicalROI/FreeSurferColorLUT

[2021-01-07 12:39] neurolabusc commented on #977
Great. A nice aspect of starting with a clean sheet is that you can architect the code for modern DICOMs, including the enhanced format images. This can provide a much cleaner solution than kludging code developed before these were available. Another unusual feature you may want to keep in mind from inception is the renumbering of [Private Data Element Tags](http://dicom.nema.org/medical/dicom/cur

[2021-01-08 19:45] emirhan422 opened #990 "(Question- Wishlist) Are there any plans on Julia API?"
I am developing a neuroimaging related project with Julia programming language and saw that Julia lacks such a package of quality. Are there any plans on embeddings to different programming languages?

[2021-01-13 06:25] OGWang126 opened #992 "Question about H5 file to MGZ file"
I used nibabel transfer mgz to h5 already, but failed to trans back to mgz and open it in freesurfer view. Here are my codes.
`import nibabel as nib

import numpy as np

import h5py

H5F = h5py.File("./mgzToH5.h5")

dataMatrix = np.array(H5F['data'])

nib.save(dataMatrix,'./test.mgz')
`
which method or func should I use? Or maybe I need to trans np.arry to Nifti1Image? Thanks a lot

[2021-01-13 13:46] effigies commented on #992
Yes, you can't save a data array as an image directly. You need to create an image, which means you need an affine matrix. See [Array images](https://nipy.org/nibabel/nibabel_images.html#array-images) for the syntax. If you want an MGZ file, you can use `nib.MGHImage` instead of `nib.Nifti1Image`.

If you did not save the affine into your HDF5 file, then you'll probably want to find an existing im

[2021-01-15 05:39] OGWang126 commented on #992
OMG!!! It's finally worked!! Thanks a lot!

[2021-01-15 05:39] #992 closed

[2021-01-15 12:34] Spenhouet opened #993 "Pylance reports NoReturn for Nifti1Image.from_bytes"
We use the method `Nifti1Image.from_bytes` and it works as expected but Pylance (what we use for static type checking) reports that this method has no return value.
This leads to all subsequent code being marked as unreachable.

Following the implementation leads to `FileBasedImage.from_file_map`:

[code]

Pylance is not wrong in reporting that `from_bytes` has no return value.
I guess that Nibabe

[2021-01-15 12:57] effigies commented on #993
It looks like Pylance isn't following the method resolution order? from_file_map is implemented in AnalyzeImage.

[2021-01-15 12:59] matthew-brett commented on #993
Is the type checking also testing the base classes?   The `NotImplemented` error is a fairly standard way of indicating a virtual method on a base class.  Is there some recommendation that y'all know if to placate type checking for these kinds of virtual methods?

[2021-01-15 13:02] Spenhouet commented on #993
@matthew-brett Not completely sure what a virtual method is but I would probably make it an [abstract method](https://docs.python.org/3/library/abc.html#abc.abstractmethod).

[2021-01-15 14:35] effigies commented on #993
That looks like it's going to require a refactorization of our class hierarchy with abstract base classes. Happy to review if someone wanted to take that on, but it might end up being pretty involved.

I think reporting it as an issue with pylance might be the quicker path to a fix.

[2021-01-15 19:02] effigies commented on #990
Hi Emirhan. I don't know a lot about Julia, but I have a hard time believing that interfacing with a Python library would be efficient or easy to work with. I do think NiBabel is a very reradable implementation of a number of formats, so it could be a good reference for someone wanting to implement the file structures in Julia.

[2021-01-16 17:42] DasDominus opened #994 "[Doc] Document how to convert a list of 3D nii images to 4D nibabel image."
For context, I have several datasets where:
each run has X scans and each scan is one .nii image

The documentation mentioned the image to be of 4d form:
https://nipy.org/nibabel/gettingstarted.html

eg. (x, y, z, time)

My understanding is that a new nibabel image can be simply created if I concat all scans together to form one .nii.gz image.

However, I have yet to find a function/util for this

[2021-01-16 17:57] DasDominus commented on #994
After some digging around, this is actually achievable via SPM -> Util -> 3D to 4D file conversion
It would be nice to document this in the user guide somewhere.

[2021-01-16 18:06] effigies commented on #994
I think the function you're looking for is [concat_images](https://nipy.org/nibabel/reference/nibabel.funcs.html#nibabel.funcs.concat_images).

[2021-01-16 18:42] DasDominus commented on #994
ah thanks @effigies ! I indeed missed this part in the doc XD

[2021-01-16 18:42] #994 closed

[2021-01-17 10:57] emirhan422 commented on #990
Thank you for your kind explanation on this. Actually, I thought that there is a C++ library working behind and made this request with that in mind. However, as I dug deeper into the source code, I saw that it is pure Python based on Numpy. In this case it would be illogical to create interfaces for other languages.

[2021-01-17 10:57] #990 closed

[2021-01-22 16:38] 0xSMT commented on #920
Any follow ups on this? I recently ran into the same problem.

[2021-01-28 18:55] YSanchezAraujo commented on #990
incase anyone is curious (at the risk of stating the obvious), you can use all of nibabel's functionality with 2 lines of code in Julia:

[code]

the only requirement being that nibabel and any dependencies are already installed in python on your machine, and that `ENV["PYTHON"]="\the\path\to\your\python\bin"`

[2021-01-28 20:07] emirhan422 commented on #990
Yes, PyCall is a convenient tool; however, when one deals with large datasets and projects, the inner workhorse of it becomes a trouble. Because PyCall creates a Python session and runs the commands via it. As one can see, this causes a great inefficiency (compared to native code) due to constant conversions of data types, not to mention perfomance reduction as a result of run-time compilation and

[2021-01-28 21:09] YSanchezAraujo commented on #990
Yeah I figured it was something of that sort, but  wanted to point that out just in case. https://github.com/JuliaNeuroscience has some interesting development.

[2021-01-29 21:35] Tokazama commented on #990
Hi, I started JuliaNeuroscience. There has a been a ton of work over the last several months aimed at a generic interface for optimized arrays for different CPU and GPU hardware (ArrayInterface.jl). I've been very involved in this and I'm hoping to finalize spatiotemporal traits very soon. The goal is that we can ultimately load neuro formats into Julia and still use cutting edge techniques withou

[2021-02-03 18:52] blezek opened #995 "Improving performance of TckFile when reading huge MRtrix tck files"
Hi,

  First off, thank you all for the great toolkit!  Wanted to point out a performance issue and post a possible solution for others to leverage.

  Using the default `.tck` reader (`TckFile`), 500,000 streamlines takes approximately 22 minutes to read.  Profiling the code reveals most of the reading time is spent on [these lines of array_sequence.py](https://github.com/nipy/nibabel/blob/95e1fb

[2021-02-04 17:05] matthew-brett commented on #995
Ow - that's a huge speedup.  Thanks for reporting.  How low can the buffer size go before you're losing most of the benefit?  @MarcCote - any thoughts?

[2021-02-04 18:08] blezek commented on #995
@matthew-brett Testing results seem to indicate it's not the buffer size, 16Mb seems to be as good as anything.

[code]
and the `.tck` file info:

[code]

[2021-02-05 11:17] matthew-brett commented on #995
Aha - I'm lost now - so what changes made the huge difference to the timing, do you think?    I believe the default buffer size is 4MB, so you timings predict a ~30% speedup from the larger buffer size - right?

[2021-02-05 11:57] blezek commented on #995
The biggest contributor to speed up is this code:

[code]

Note, I read all the streamlines immediately.  The normal reader streams them in one at a time, [trying to intelligently cache](https://github.com/nipy/nibabel/blob/95e1fbece92b92fc5a5f5c107bd0222438bdb0cc/nibabel/streamlines/array_sequence.py#L237-L238), but this caching caused huge numbers of `np.copy` calls.  If all the streamlines are

[2021-02-05 14:17] effigies commented on #995
Could you share the benchmark over buffer sizes with the current loader? The idea of using an iterable is so that the max memory usage should be ~ `total + buffer_size`, rather than `2 * total`.

The issue is caused by a change in numpy that restricted 0-copy reshapes. I guess we should revisit this and see if we can get back to a situation where we can reliably avoid copies.

[2021-02-05 18:34] blezek commented on #995
@effigies sure, this code:

[code]

`buffer_size` is not exposed to the general reader.

outputs:

[code]

[2021-02-07 09:12] sunshichen opened #997 "Cannot read '.img.gz' nifti file."
Nibabel cannot read ```.img.gz``` file directly. It could only recognize ```.img``` format files.
[code]
output
[code]

Btw, the simpleITK can read it as [link](https://simpleitk.readthedocs.io/en/master/IO.html#images)

So is there a way to solve this problem? Thx.

[2021-02-07 10:28] pauldmccarthy commented on #997
Are you sure that the file is actually a gzip file? What happens if you rename it so it ends with `.img`?

[2021-02-07 13:58] effigies commented on #997
Without seeing the file, it's hard to diagnose. Are you able to share it? And is there a corresponding hdr.gz?

[2021-02-17 12:12] SouthAmericaB opened #998 "Resize nii image getting the modified affine information"
Hello every body!

I'm trying to resize nii images but I don't know how to modify its affine information to have the reference space information.
I've seen some ways to do that but you have to put your "target_affine" and for me it's a unknown data.

Could you help me, please?
Thank you very much in advance :)

[2021-02-17 12:32] effigies commented on #998
Can you elaborate on what you mean by resize? For example, are you trying to crop empty space from the edges of the image, or change the size of voxels?

[2021-02-17 12:44] SouthAmericaB commented on #998
Hi @effigies !
Sorry, I mean resize all the image (without cropping) from (512,512,n_slices) to (256,256,n_slices)
What I want is resize the nii image and algo obtain the new affine and header information.

[2021-02-17 13:49] effigies commented on #998
Got it. We have a function to determine the affine for these types of transformations: [rescale_affine](https://nipy.org/nibabel/reference/nibabel.affines.html#nibabel.affines.rescale_affine)

You can also [slice](https://nipy.org/nibabel/reference/nibabel.spatialimages.html#nibabel.spatialimages.SpatialImage.slicer) an image with `img.slicer[::2, ::2, :]`, which will use that function to update t

[2021-02-17 15:33] SouthAmericaB commented on #998
Thank you very much @effigies !

I'm trying to use that function but it doesn't appear:
![image](https://user-images.githubusercontent.com/49905756/108223513-2f449e00-713a-11eb-9819-f46e1a6b8a16.png)

I've checked  and upgrade my nibabel version but the function doesn't appear.

Do you know why could be that?

[2021-02-17 15:48] effigies commented on #998
What version of nibabel are you using? Note that if you are in Python 2 still, you will not be able to upgrade to nibabel 3 or higher.

[2021-02-17 15:48] SouthAmericaB commented on #998
Ok. Now it appears. I'm going to try.
Thanks!

[2021-02-17 15:55] SouthAmericaB commented on #998
Sorry, but I have another question:

Regarding the input parameters:
rescale_affine(affine_old, **old_shape (512,512,nslices)?)**, new_zooms, **new_shape (256,256,nslices)?**)

I'm not sure what I have to set in the "shape" input parameters.
The volume image shape? The volume affines matrix shape?

Thank you ver much :)

[2021-02-17 15:58] effigies commented on #998
I would use it like so:

[code]

[2021-02-17 16:13] SouthAmericaB commented on #998
Thank you very much for your attention @effigies

Now, it works! I appreciate it a lot :)

All the best!

[2021-02-17 17:47] effigies commented on #998
Glad to hear it. Good luck with your project!

[2021-02-17 17:47] #998 closed

[2021-02-25 20:57] MarcCote commented on #943
Finally got some time around to finish my testing. I can't reproduce the same timing as you originally posted @emanuele. Here's the simple benchmark script I'm using:
[code]
Here's my timing for the 10M streamlines file you shared (4:25 min, RAM peak: 3.41 Gb):
[code]

And with my new patch (see #1000), I get (1:40 min, RAM peak: 5.72 Gb):
[code]
I'm not sure why the RAM peak is higher with the pa

[2021-03-11 19:54] pauldmccarthy opened #1001 "Documentation suggestion: recommendations for working with integer NIFTI images"
Hi @effigies and @matthew-brett (pinging you both directly, because you've had the most involvement in the relevant bits of the nibabel code).

A colleague of mine, very competent, but fairly new to nibabel and numpy, recently found himself in a very confusing situation, ultimately brought about by the `scl_slope` / `scl_inter` rescaling logic baked into nibabel, and I'm wondering if another secti

[2021-03-15 17:16] lukasfolle opened #1002 "Nan image"
Hi,
I am participating in this challenge and have problems reading a nifti file https://valdo.grand-challenge.org/.
Specifically, file 320 t2.nii.gz is not readable while t2s.nii.gz is readable.

If you can replicate this erro ,could you please have a look at whats going on there?
[sub-320_space-T2S_desc-masked_T2.nii.gz](https://github.com/nipy/nibabel/files/6143246/sub-320_space-T2S_desc-masked_

[2021-03-19 20:03] joshuacwnewton opened #1003 "Odd scaling when saving an image with dtypes that don't match (header: int, data: float)"
Using a small (40x42) test image: [test_image_float64.nii.gz](https://github.com/nipy/nibabel/files/6173630/test_image_float64.nii.gz)

![Screenshot from 2021-03-19 15-55-22](https://user-images.githubusercontent.com/16181459/111835642-95544a80-88cb-11eb-9c55-2725309ca33a.png)

Here are reproduction steps;

[code]

(For context, this came up in the following issue: https://github.com/neuropoly/spi

[2021-03-19 20:06] joshuacwnewton commented on #1003
Ah, my apologies. By coincidence, this appears to be the same issue as the recently-opened #1001.

[2021-03-19 20:14] #1003 closed

[2021-03-22 16:29] PavanChaggar opened #1004 "Editing img/hdr pair"
Hi there,

I have some .img and .hdr files from OASIS1 that I'd like to reorient and save as nifti. I can't work out how to open the files using nibabel.
I thought it would be;
`nib.load("filename.img", header="filename.hdr")`
but this does not work as there is no argument for header.

Any advice on if/how I can do this?

Thanks,
Pavan

[2021-03-22 17:20] matthew-brett commented on #1004
What do you get for:

[code]

?

[2021-03-22 17:29] PavanChaggar commented on #1004
`nib.load("filename.img")`
nibabel.spm2analyze.Spm2AnalyzeImage at 0x13c1c1a90

is what gets returned.

Is this all I need?

[2021-03-22 17:39] matthew-brett commented on #1004
I think so - unless you want to specify that the `.img` format is something other than the SPM2 extended Analyze format.   For example, if you thought the file was Nifti1 format instead of SPM2 Analyze:

[code]

[2021-03-22 17:42] PavanChaggar commented on #1004
Ok thanks. It sounds like this is all I need then.
Is there a straightforward way to convert to RAS orientation?
It seems I can compose some functions from nibabel.orientations, but wondering if there's something simpler.

[2021-03-22 18:37] effigies commented on #1004
Check out the nib.as_closest_canonical function.

[2021-03-24 13:43] #1004 closed

[2021-03-31 11:53] maxrohleder commented on #977
Hey there! I am also really interested in the dicom2nifti feature.

I tested the nibabel.nicom.dicomwrappers.MultiframeWrapper class on Enhanced CT DICOMs from Siemens and I believe there is a conceptional mistake in the calculation of the affine matrices. I suspect this is because the affine is constructed following the approach for single frame dicoms from [here](https://nipy.org/nibabel/dicom/d

[2021-04-02 08:29] ROOKLO commented on #523
Hi @matthew-brett
I am a little confused about this: why it does not change the image shape(or say the number of pixels) by applying the different affine matrix. And if I want to resample the image voxel as isotropy (let's say 1*1*1) when I use the convolutional network to processing it, which method should I use?
1.Applying the identity affine matrix to all images to change the 'pixdim' as [1, 1,

[2021-04-02 08:37] matthew-brett commented on #523
@ROOKLO - I'm not quite sure what you're asking.   Are you saying you already have the resampled array, but you want a matching affine for it?

[2021-04-02 09:29] ROOKLO commented on #523
My bad and Nope.
when I perform the convolutional neural network, I wish the input image have the same pixel/voxel size, and there seems to have two methods to achieve this goal, as u mentioned in this issue before: change the pixdim (I am thinking this can be done by applying the identity affine matrix
`nib.Nifti1Image(dataobj=src_data, affine=np.eye(4, 4))`
 in this, the number of the pixel/voxe

[2021-04-02 09:53] matthew-brett commented on #523
The affine is just the mapping of the voxel coordinates to world-space coordinates - see https://nipy.org/nibabel/coordinate_systems.html . So, changing the affine doesn't have any effect on the underlying voxel grid, it just changes the spatial interpretation of any given voxel coordinate from that grid.

I can't answer in general about whether you should prefer a resampled array for your CNN.  M

[2021-04-02 12:36] ROOKLO commented on #523
I don't think CNN cares about the affine matrix or saying the voxel coordinates to world-space coordinates. (At least in my task, it doesn't. May in some situations, need CNN to consider the position relation between objects in world-space coordinates......and why don't put them in one object, hahaha..... I don't know, just guessing).

It's the papers I read before, and some of them mentioned resa

[2021-04-02 13:00] matthew-brett commented on #523
I think you will need to work out whether you too need to resample your images to have the same millimeter size in each dimension.  If not, you don't have to worry, and you can use the raw images.  If so, then you'll need `resample_to_output(test_img, voxel_size=[1, 1, 1])` or similar.   And yes, I suppose you're right, if you're working in 2D, and assuming that the voxels are the same size in x a

[2021-04-02 13:29] ROOKLO commented on #523
It helps me a lot, thank you very much!

[2021-04-08 18:16] amsinha9 opened #1006 "ModuleNotFoundError with nibabel"
When I'm importing nibabel, I get the following error:

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-1865394ef9c8> in <module>()
----> 1 import nibabel
      2 import nilearn.plotting as plotting
      3 import numpy as np
      4 import matplotlib.pyplot as plt
      5 impor

[2021-04-08 18:44] effigies commented on #1006
You're going to need to either use a new nibabel or an older numpy. Is there a reason you need 2.3.0?

[2021-04-08 18:51] amsinha9 commented on #1006
No, there is no particular dependencies on versions for my current purpose. I was running an old script from a while back and realized the error now. Any suggestions on which versions of nibabel and/or numpy I can use to resolve this?

[2021-04-08 19:20] effigies commented on #1006
I would suggest upgrading to the latest nibabel if you don't have any reason to use an older version.

[2021-04-08 21:54] #1006 closed

[2021-04-13 14:52] effigies commented on #1002
Hi, sorry for the delay. The `nan` image just needs its `nan`s replaced by 0s, I think. Something like:

[code]

[2021-04-13 14:54] lukasfolle commented on #1002
Thank you for your help!

[2021-04-13 14:54] #1002 closed

[2021-04-15 14:12] effigies opened #1007 "Security discussion: Codecov event"
This morning (15 April 2021), I received a security update from CodeCov: https://about.codecov.io/security-update/

NiBabel was affected by this issue because we use the CodeCov GitHub action, which means tokens were potentially exposed. However, we have no authentication tokens set in our environment, so my assessment is that there was no potential for exploitation.

This thread will remain open

[2021-04-16 10:11] NicolasGensollen commented on #1007
Linking the discussion on codecov action: https://github.com/jupyterhub/team-compass/issues/398
There is a linked PR on adding a checksum validation on the uploader script. Hopefully this will be merged soon!
Based on what I understand so far, I also tend to think that, since you are not using any authentication tokens in your workflows, you shouldn't need to take any action.

[2021-04-26 17:16] effigies commented on #978
Closing this, since it [exists](https://github.com/nipy/napari-nibabel). Happy to add a link in the docs if there's a good place to advertise.

[2021-04-26 17:16] #978 closed

[2021-04-26 17:30] #1007 closed

[2021-04-27 20:40] akeshavan opened #1010 "Question about orientations"
Hello! I have some niftis I need to reorient from whatever orientation they come in, to LPS. Here's what I have after some trial and error:

[code]

and it prints:

[code]

I played around with the three letter orientation string in this line:

[code]

until my final orientation was `LPS`. What am I doing? Why did this work? How do I make it work for any arbitrary orientation?

Thanks for your hel

[2021-04-27 21:04] effigies commented on #1010
Hey Anisha. So `as_reoriented` doesn't take axcodes, but instead takes a representation of axis flips and rolls. You need to find the transform from where you are `io_orientation(affine)` to where you want to be `axcodes2ornt("LPS")`:

[code]

In case it's helpful, there's also a Nipype interface that does this: [Reorient](https://github.com/nipy/nipype/blob/6c060304f380c46b2f05c5afdc7171dbbdfadc5

[2021-04-27 21:08] akeshavan commented on #1010
thanks @effigies !!

[2021-04-27 21:08] #1010 closed

[2021-04-28 13:20] ch-n opened #1011 "Align orientations"
Hi,
I try to cast image to a different orientation.
My images have the axcodes ('L', 'A', 'S') and ('L', 'S', 'P'). I try to cast them to the orientation of the napari viewer (axcode ('P', 'I', 'L')).

I take the image orientation from the affine with `nib.orientations.io_orientation` and the orientation of the viewer with `nib.orientations.axcodes2ornt`. To transform the image to the orientation

[2021-04-28 13:26] effigies commented on #1011
Does #1010 help?

[2021-04-28 14:57] ch-n commented on #1011
Sadly not, using `imgobj.as_reoriented` instead of `nib.orientations.ornt_transform` yields the same results.
The  ('L', 'A', 'S') is converted to ('I', 'A', 'L') and not ('P', 'I', 'L').

[2021-04-28 14:59] effigies commented on #1011
That should work... Could you share a reproduction where it fails so we can add a test and fix the issue?

[2021-04-29 09:15] ch-n commented on #1011
I'm really sorry to have wasted your time. I found the error.

It was on my side as I did not noticed that my perception of the wrong orientation was based on a wrong assumption. The images I compared are highly rotated to each other and the LAS images are quite thin in the z-axis. I misinterpreted there alignment.

They are aligned as best as possible without applying affine transformation.

[2021-04-29 09:15] #1011 closed

[2021-05-04 12:53] joshuacwnewton opened #1012 "`as_closest_canonical` fails for Nifti1Images created using `header` and `affine=None`"
Say we create a `Nifti1Image` by specifying the header but leaving `affine=None`:

[code]

My expectation here was that because the header contains affine-related fields (with an affine retrieved using `header.get_best_affine()`), it would be unnecessary/redundant to also specify `affine` when creating the image.

However, if we then call `nibabel.funcs.as_closest_canonical` on the image, it will

[2021-05-04 14:21] effigies commented on #1012
In this case, I believe I would probably set both affine and header. Setting `affine=None` is something I would only do if I wanted to skip consistency checks while saving a file, so it works fine if you're creating the image and immediately saving it.

Assuming that `img.affine == img.header.get_best_affine()` (which will be true if you're loading `img` from file), then `Nifti1Image(data, img.aff

[2021-05-04 19:50] joshuacwnewton commented on #1012
Thank you for the quick response. I also notice this in the [`Nifti1Image`](https://nipy.org/nibabel/reference/nibabel.nifti1.html#nibabel.nifti1.Nifti1Image) docs:

Since our goal was to preserve the codes, I guess we have two options, then?
* `Nifti1Image(data, img.header.get_best_affine(), img.header)` as you suggest (to ensure that the affines match and won't be reset).
* `Nifti1Image(data, im

[2021-05-06 17:15] htwangtw commented on #939
I will do it. Any idea where should the code live? Inside `streamlines`?

[2021-05-06 17:18] effigies commented on #939
No, `DataobjImage`s shouldn't depend on streamlines. If we use the same tooling, we would want it to be somewhere they could both depend on it. Maybe something like `nibabel/arrayops.py`? We don't have to settle on a name right away.

[2021-05-06 17:19] htwangtw commented on #939
Sounds good. We can finalise the names etc later.

[2021-05-06 18:28] effigies commented on #936
Here we are, and it's [nilearn dev days 2021](https://nilearn.github.io/dev-days-2021/), and we've had another discussion on this topic. Nilearn devs put together a [doc](https://github.com/nilearn/dev-days-2021/blob/ea0c75b/Notebooks/surface/surface_data_in_nilearn.adoc) describing the current API and issues, which I will summarize here:

---

### API

[code]

[code]

### Limitations

1) Multiple

[2021-05-06 18:51] #966 closed

[2021-05-07 00:15] joshuacwnewton commented on #1012
I think our question has been answered, so I'll close this issue. Thanks again!

[2021-05-07 00:15] #1012 closed

[2021-05-07 11:44] neurolabusc commented on #977
@maxrohleder can you share some sample enhanced CT DICOMs? I would like to add some to my open source validation repository of [enhanced DICOMs ](https://github.com/neurolabusc/dcm_qa_enh). Currently, I have MRI data from Philips, Siemens and Canon. However, I have never seen enhanced CT data. One particular issue with CT is [gantry tilt](https://github.com/rordenlab/dcm2niix/issues/253) (e.g. see

[2021-05-07 12:30] maxrohleder commented on #977
Hello @neurolabusc, I am predominantly working with data from the Siemens Cios Spin System, which is a 3d-enabled C-Arm mainly used in the surgical suite. The nature of this system implicates all sorts of extra parameters which need to be stored in the DICOM header. If you still want one of these datasets, I can maybe provide you a scan.

[2021-05-07 13:13] maxrohleder commented on #977
@neurolabusc Ill see what I can do!

[2021-05-07 14:53] vpapaioannou opened #1015 "Setting slop and intercept does not work."
import nibabel as nib
         old = nib.nifti1.load(old_nifti)
         old.header.set_slope_inter(1.0, 0.0)
         print(old.header.get_slope_inter()) # gives 1.0 and 0.0 as expected, it was NaN, NaN initially
         nib.nifti1.save(old, new_nifti)
         new = nib.nifti1.loadnew_nifti)
         print( new.header.get_slope_inter()) # gives NaN, NaN which is unexpected

Also, reading initia

[2021-05-07 15:04] matthew-brett commented on #1015
Did you find : https://nipy.org/nibabel/nifti_images.html#data-scaling

We'd be very happy for any suggestions on how we could improve the docs or make them more visible.

[2021-05-07 15:30] vpapaioannou commented on #1015
Thanks for the resource, I didn't find it. I read it and using `.dataobj.slope` and `.dataobj.inter` I see the expected values for the original file. Nonetheless, for the new file I get `18.200000762939453, -1024.0` instead of `1.0, 0.0` as I set it.Why is that?

If you would like some feedback, the way that is implemented right now for `datatype` and e.g. `slope` it seems having two interfaces to

[2021-05-07 16:25] effigies commented on #936
The previous discussion addressed (although stopped short of a clear solution for) limitation 1, but I didn't really get into limitation 2.

Whatever the solution, we'll want something like an `ArrayProxy` or `ImageOpener` to pass around and copy that will typically hold onto the filename and only load the data on request.

An additional notion that came up is that often the geometry is a standard

[2021-05-10 17:55] #1015 closed

[2021-05-10 19:29] matthew-brett commented on #1015
Thanks for the suggestions.   There is of course a reason why the interface is as it is, and we probably can't change it now, but we should definitely think about adding another and easier interface that will be less confusing.

[2021-05-18 16:22] talhaanwarch opened #1021 "Resample 3D image"
Can we resample 3D MRI image to a fix z-axis length?
I have image of different z-axis such as `(512,512,110)`,`(512,512,117)`,`(512,512,103)`. Can I make all of them to equal length.

[2021-05-18 16:59] matthew-brett commented on #1021
You could try having a look at:
https://nipy.org/nibabel/reference/nibabel.processing.html#nibabel.processing.resample_from_to
But - please do ask this kind of question on the mailing list - the issues here are for reporting bugs, asking for new features.

[2021-05-25 11:15] chaoers commented on #920
I'm using OSX 11.3.1 and I have got the same error. After I set matplotlib backend to `TkAgg`, it seems work right.

[code]

[2021-05-26 03:15] #1021 closed

[2021-05-26 10:05] fepegar commented on #920
Using the `TkAgg` backend, the viewer is shown, but
1. The slices are black
2. I can't close the figure
3. I still get a `TypeError`

[2021-05-26 10:08] fepegar commented on #920
I can see the image using `img.orthoview()` as suggested by @effigies in #433 (and `TkAgg`), but I get issues 2 and 3 of my previous comment.

[2021-05-26 12:46] chaoers commented on #920
You should click the first window to change view location（it's normal black if the location is (0,0)）.

And if the Python program is down（ctrl + Z）, the fighre will close.

[2021-05-26 12:52] fepegar commented on #920
You're right, thanks!

This didn't work for me, but pressing `q` did.

[2021-06-03 14:37] effigies opened #1023 "Setting gzip mtime to zero on image save"
Right now `ImageOpener()` does not allow us to pass an `mtime`, which means that saving identical images as `.nii.gz` 1s apart will produce two images with two different checksums.

Is there any value in saving a non-zero mtime? I see a few options, in my order of preference, most preferred first:

1) Always save as 0.
2) Default to 0, allow user to override.
3) Default to a timestamp (current), a

[2021-06-03 14:58] yarikoptic commented on #1023
this is odd -- I thought nibabel already did timestamp annihilation (now I have difficulty quickly finding the project(s) where we had done that in the past, but I know we did! ;)).  I think `2.` would be the best.

Didn't even think about filename - indeed should not be in the header regardless of the user's desires IMHO ;-)

[2021-06-03 16:28] effigies commented on #1023
I'm fine with 2, though in the short term I think it would be a parameter to `ImageOpener`, which is a reasonably constrained scope of work. We still don't expose those parameters (like compresslevel, see #382) to `img.to_filename()` and `nibabel.save()`, which is its own thing that needs doing.

[2021-06-03 19:32] ltetrel commented on #1023
The only advantage I see of keeping the `mtime` and filename in the gzip header is to simplify data carving, in case you accidentally deleted your files...

[2021-06-03 20:03] effigies commented on #1023
In principle, we could set `filename` to something constant, e.g `nibabel-gzip`, without exposing potentially sensitive information or losing determinism. Setting the `mtime` by default does not seem likely to help with data carving because you would need to know that mtime.

[2021-06-03 20:19] yarikoptic commented on #1023
and then someone doing "data carving" @ltetrel suggested overwrites all different files with a single "last winner" ;)  IMHO not worth it.

[2021-06-05 12:29] #997 closed

[2021-06-15 18:21] ltetrel commented on #1023
So I was reading the gzip spec, and the last 8 bytes can actually be used to check data integrity (CRC-32 code followed by size of the object).
https://docs.fileformat.com/compression/gz/#gz-file-footer
This nullify the need of trying to have an identical shasum, since checking the CRC-32 is actually the right way to check for file integrity (and comparing files). And this is much faster than shas

[2021-06-15 18:50] yarikoptic commented on #1023
does python library support adding that data integrity check? if does -- I guess it should not hurt but worth checking if it doesn't ;)

[2021-06-15 18:53] Ouwen opened #1026 "Load from a file pointer instead of filepath string"
I was wondering if there is an easy way for file pointers to be supported when loading `nii` files instead of string paths. This would allow loading from memory buffers or streaming data over network.

[2021-06-15 18:59] ltetrel commented on #1023
I checked and the `gzip` python library does not (which I found quite weird)..
https://docs.python.org/3/library/gzip.html
But maybe there is another library that is doing that type of check ? Anyway it is not a huge deal to code it, but maintaining it would be more problematic (if the spec changes)...

[2021-06-15 19:24] effigies commented on #1023
The spec hasn't changed in 25 years...

[2021-06-15 19:39] rmarkello commented on #1026
Hi @Ouwen ! Most of the main image classes support a `.from_bytes()` method that can be used to load data directly into an image. (Image instances conversely also support a `.to_bytes()` method.)

For example, the following should work (given you have `img.nii.gz` locally):

[code]

Therefore, if you have a file pointer `fp` you should be able to just:

[code]

Would this functionality address you

[2021-06-15 20:27] effigies commented on #1023
I may be misreading, but the `gzip` in Python's stdlib [does check the footer](https://github.com/python/cpython/blob/1d10bf0bb9409a406c56b0de8870df998637fd0f/Lib/gzip.py#L522-L532):

[code]

[2021-06-15 21:16] ltetrel commented on #1023
@effigies Oh yes but I mean it is private not public so we cannot use this function member, but again it is simple to just copy it.

[2021-06-15 21:20] effigies commented on #1023
Ah, right. You can get it easily with:

[code]

[2021-06-17 15:54] FlMart opened #1027 "Calculate PatientOrientation"
Hi everyone!

When converting a NIFTI to a valid DICOM, header fields have to be set and it would be nice to have a function to calculate a DICOM's [PatientOrientation](https://dicom.innolitics.com/ciods/secondary-capture-image/general-image/00200020) attribute given its [ImageOrientationPatient](https://dicom.innolitics.com/ciods/mr-image/image-plane/00200037) attribute. Alternatively, according

[2021-06-17 15:58] effigies commented on #1027
I think you probably want [`aff2axcodes`](https://nipy.org/nibabel/reference/nibabel.orientations.html#nibabel.orientations.aff2axcodes). Unless I'm misunderstanding...

[2021-06-17 16:17] FlMart commented on #1027
As far as I understood it, the [PatientOrientation](https://dicom.innolitics.com/ciods/secondary-capture-image/general-image/00200020) requires multiple letters if the vector lies right between two axes, so with RAS labeling, a vector of `x = [1,1,0]` should return `RA`, which does not seem to be case for me. With the following code, what I get is `('R', 'A', 'S')` while I would expect `('RI', 'RA

[2021-06-17 17:40] panchel opened #1028 "Permission Error Windows System"
Hi everyone! I have been trying to use the python package resector (https://github.com/fepegar/resector), description: Implementation of a TorchIO transform used to simulate a resection cavity from a T1-weighted brain MRI and a corresponding geodesic information flows (GIF) brain parcellation (version 3.0), but am getting the error "PermissionError: [Errno 13] Permission denied: 'C:\\Users\\yingt\

[2021-06-17 17:52] effigies commented on #1028
Are you able to `open()` the file?

[2021-06-17 18:56] panchel commented on #1028
which file are you referring to? The tmp_3soszuh.nii file in the Temp folder was never created because for some reason, the package does not have permission to make the files in the Temp folder. However, I can add a file.txt in Temp.

[2021-06-17 19:39] effigies commented on #1028
I meant, in Python:

[code]

Anyway, I think I'm misunderstanding what's going on. Could you share what you specifically did, either as a command that you ran, or a sequence of Python lines, and the full tracebacks?

[2021-06-17 20:56] panchel commented on #1028
Yes absolutely!

To use the package, you have to run "resect path/to/Nifti/file path/to/parcellation.nii.gz path/to/output.nii.gz path/to/output_label/nii.gz"

I specifically ran
resect /c/Users/username/Desktop/folder/mni_icbm152_t1_tal_nlin_asym_09c.nii /c/Users/username/Desktop/folder/17549_NeuroMorph_Parcellation.nii.gz /c/Users/username/Desktop/folder/outcome.nii.gz /c/Users/username/Desktop/

[2021-06-17 21:11] effigies commented on #1028
@fepegar Any chance you can track this one down? I can probably look at resector tomorrow if not.

[2021-06-18 08:23] matthew-brett commented on #1028
Just a guess - but maybe the code is trying to re-use the name from a NamedTemporaryFile - https://stackoverflow.com/questions/23212435/permission-denied-to-write-to-my-temporary-file

[2021-06-18 09:05] fepegar commented on #1028
@effigies Thanks for the heads-up. @panchel did report this at https://github.com/fepegar/resector/issues/3 before posting here. We'll keep you posted here.

@matthew-brett thanks for investigating. It looks like it might be that, but I'm surprised it only happens on Windows.

[2021-06-18 09:09] fepegar commented on #1028
This works on my mac:

[code]

[2021-06-18 09:13] matthew-brett commented on #1028
Yes - that's what I'd expect - that it would work on Mac or Linux, but not on Windows.  See the StackOverflow post quote from the Python docs:

<https://docs.python.org/3.8/library/tempfile.html>

[2021-06-18 09:19] fepegar commented on #1028
Oh, I see. Is there a way to pass a file object to `nib.save`, instead of a string or path object? If not, I guess I will need to change the implementation within `resector`.

[2021-06-18 09:27] matthew-brett commented on #1028
If you're always using standalone `.nii` files, you could `write` the output of `img.to_bytes()` - as in something like:

[code]

I think ...

[2021-06-18 09:48] fepegar commented on #1028
That looks good. I will modify that, try it on mac/Linux, work with @panchel to make sure it works on Windows, and let you know how it went. Thanks again!

[2021-06-18 15:14] panchel commented on #1028
Thank you so much everyone for helping me with this issue!

I'm pretty new to python, so I really appreciate all your input. Please let me know if there is anything I can do (run commands, etc) to help resolve this. Again, thank you all.

[2021-06-18 16:02] effigies commented on #1028
I wonder if SimpleITK can read a bytestring, so you could change to something like

[code]

I don't know their syntax enough to get that right, but it looks like they have a method that will read a buffer: https://itk.org/Doxygen/html/classitk_1_1NiftiImageIO.html#a9311accde0fc96072b942e40a567e21f

[2021-06-18 16:14] fepegar commented on #1028
Thanks, @effigies. I have switched to using TorchIO to convert from array+affine to SITK, which doesn't involve writing and reading: https://github.com/fepegar/torchio/blob/master/torchio/data/io.py#L228-L268

I actually use some NiBabel code for that, so you'll find some links to NiBabel in my code.

I think this issue can now be closed.

[2021-06-18 18:36] effigies commented on #1028
Glad you got it working!

[2021-06-18 18:36] #1028 closed

[2021-06-25 19:40] #1023 closed

[2021-06-25 19:59] effigies opened #1029 "ENH: Load image from URL"
We should think about how to fetch data remotely, and ideally maintaining transparent random access.

@yarikoptic Pointed me at [fsspec](https://filesystem-spec.readthedocs.io/en/latest/), which would be a good start. Gzip indexing is going to be a big issue. I'll cc @pauldmccarthy in case he has thoughts/experience on here.

Got a pointer to [Neuroglancer](https://github.com/google/neuroglancer).

[2021-07-06 14:47] pauldmccarthy commented on #1029
Sorry, just saw this mention - recent changes to `indexed_gzip` added support for Python file-like objects, so adding support for remote files will hopefully not be too painful (with the caveat that a pre-built index needs to be provided, or that reading needs to start from the beginning of the file).

[2021-07-11 01:36] gourdchen opened #1031 "How to close image file? can't rewrite image when load it in IPython"
When I load one image to my Ipython kernel, it is difficult to cancel the file occupation.
I have tried using `image.uncache() `and `del imange` , but it did not work, I still can't remove the file or rewrite it.

[2021-07-11 02:00] effigies commented on #1031
Likely a memmap issue. Does adding mmap=False to the load work?

[2021-07-12 02:59] gourdchen commented on #1031
[code]
I just used this codes to test the error, but there is still error:
`OSError: [Errno 22] Invalid argument: 'ststr.nii'`

It seems like that only I restart the IPython kernel, it will release the file occupation.

[2021-07-12 02:59] gourdchen commented on #1031
[code]
I just used this codes to test the error, but there is still error:
`OSError: [Errno 22] Invalid argument: 'ststr.nii'`

It seems like that only I restart the IPython kernel, it will release the file occupation.

[2021-07-14 20:24] effigies commented on #1031
So you say "Ipython kernel". Is this Jupyter? Are you able to reproduce the issue outside Jupyter?

[2021-07-15 14:41] tboutelier opened #1032 "Nibabel does not load slope and inter parameters"
I am saving some nparray into nifti format using `nibabel` package. I specify a slope and intercept value in order to scale data back to their original format. However, the scale and intercept information are not available anymore when I load back the data. Here is a code snippet to reproduce the behavior:
[code]
The output is `(None,None)`, despite the fact that `nii2.header.has_data_slope` and

[2021-07-19 03:34] Lestropie commented on #927
I am intending to assign an intern to this project in the near future; if anyone has attempted to make progress on this enhancement but has not indicated such here, please let me know.

[2021-07-19 04:43] mattcieslak commented on #927
Perfect timing @Lestropie! we are about to start on this too. Do you know if [this code](https://github.com/MRtrix3/mrtrix3/blob/master/matlab/read_mrtrix.m) still works?

[2021-07-19 05:06] Lestropie commented on #927
The MatLab read/write functions should be working on `master`.

What I've not yet looked into is the extent to which the NiBabel API is or is not compatible with the concept of arbitrary strides ([documentation](https://mrtrix.readthedocs.io/en/latest/getting_started/image_data.html#strides); [manuscript](https://www.sciencedirect.com/science/article/pii/S1053811919307281#appsec1)), as this would

[2021-07-19 07:54] matthew-brett commented on #927
On a quick scan, I don't think the strides will be a problem - the trick will be to use the strides in creating a suitable array proxy object - see https://github.com/nipy/nibabel/blob/master/nibabel/arrayproxy.py for the basic definition, and  https://github.com/nipy/nibabel/blob/master/nibabel/brikhead.py#L210 for a customized version for another format.

[2021-07-21 14:56] tomaroberts opened #1033 "nifti to dicom - creating ImageOrientationPatient / ImagePositionPatient from nifti affine"
Hi there,

I am creating 4D flow MRI DICOMs, effectively from scratch, using our in-house 4D flow nifti files as a starting point. I'm using nibabel to read in my nifti files and then pydicom to create the DICOMs and propagate the relevant DICOM tags. However, I haven't ported across the orientation information yet.

I can easily access the affine information in the nifti headers, but I was wonder

[2021-07-23 09:14] gourdchen commented on #1031
After my testing, I ensure that it is just in the Jupyter

[2021-07-26 10:05] Lestropie commented on #927
@mattcieslak Can I get clarification on whether you "are about to start" as in *intending* to start, or *actually* starting the work? If the latter, I need to alter the project contents for my intern. (Assigning the issue to a user would be a good indicator either way)

[2021-07-26 13:37] mattcieslak commented on #927
I was planning in the next few weeks to translate that matlab code to python for a project that reads fixel data from mif files. I wasn't planning on handling all the different strides scenarios though. If you have an employee who would work on this full time that might be the best route for nibabel

[2021-07-27 01:30] Lestropie commented on #927
It would feel quite incomplete to me having something that would only read fixel data: one of the pros of the fixel directory format is that the raw data are stored in a format no different to that of other neuroimaging data (other than the number of non-unity dimensions). You also wouldn't want to have just a fixel data file reader written on the presumption of trivial strides, since technically

[2021-07-27 08:56] Spenhouet commented on #977
@matthew-brett Is there any update on this?

[2021-07-27 09:06] matthew-brett commented on #977
@Spenhouet - indeed there is - have a look over at <https://nipy.discourse.group> - and in particular the "DICOM" category.  We are at the active planning stage.

[2021-07-28 15:28] mateuszpawlik opened #1034 "`dim[5:]` and `pixdim[5:]` in nifti header set to 1 after using slicer."
I tried to use `img.slicer` to discard some dummy scans from the front of an fmri image (bold signal). I observed that the original image has `0`s in `dim[5:]` and `pixdim[5:]` and after the slicer the values in these arrays are set to `1`s.
Before we used AFNI nifti_tool for the same purpose and it modified the values only in `dim[5:]`.

After googling I understood that values `dim[5:]` and `pixd

[2021-07-28 15:37] effigies commented on #1034
0 and 1 are both sensible defaults. 0 to me would indicate unused, 1 that the array has length 1 in that dimension, which are both true. It has no effect on interpretation, but you can always set the fields manually:

[code]

[2021-07-28 15:55] mateuszpawlik commented on #1034
Thanks a lot for such a quick answer. I spent quite some time today to figure it out. So I understand it's a matter of interpretation:
- `0` - unused. I agree.
- `1` - dimension of length `1`. It may be interpreted as there are other dimensions in the data.

[2021-07-28 16:38] effigies commented on #1034
The standard provides no interpretation for dimensions beyond `dim[0]` or guidance on what they should be, so there is no correct/incorrect setting. They should not be considered to have any impact on the interpretation of the data at all.

The default values put in by any given tool will probably reflect which interpretation the original author thought was more intuitive, but this should not be r